{% extends 'base.html.twig' %}

{% block title %}Livre de paie{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridSalarialeEtat {
            height: 500px;
            border-width: 50px;

        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        ETAT DES SALAIRES DU {{ mois }} MOIS DE L'ANNEE {{ annee }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridSalarialeEtat"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridSalarialeEtat").dxDataGrid({
                dataSource: `{{ url('api_reporting_salariale_etat') }}`,
                showBorders: true,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    height: 400,
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('PRIMES ET INDEMNITE');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            columnWidths: [55, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `ETAT DES SALAIRE MENSUEL ${debut ?? " "} au ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: "N°Ordre",
                        dataField: "index",
                        dataType: "number",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        caption: "Date ouverture",
                        dataField: "date_ouverture",
                        dataType: "string",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        dataField: 'full_name_salaried',
                        dataType: 'string',
                        caption: 'Nom et Prénoms',
                        alignment: 'left',
                        fixed: true,
                    },
                    {
                        dataField: 'matricule_salaried',
                        dataType: 'string',
                        caption: 'Matricule',
                        alignment: 'center',
                        fixed: true,
                    },
                    {
                        caption: 'Salaire de base',
                        dataField: "salaire_categoriel",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: "Prime d'ancienneté",
                        dataField: "prime_anciennete",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                        width: 120
                    },

                    {
                        caption: "Autre primes et indemnités",
                        alignment: 'center',
                        columns: [
                            {
                                caption: "Prime de fonction",
                                dataField: "prime_fonction",
                                dataType: 'number',
                                alignment: 'right',
                                summaryType: 'sum',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: "Prime de logement",
                                dataField: "prime_logement",
                                dataType: 'number',
                                alignment: 'right',
                                summaryType: 'sum',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: "Indemnité de fonction",
                                dataField: "prime_indemnite_fonction",
                                dataType: 'number',
                                alignment: 'right',
                                summaryType: 'sum',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: "Indemnité de logement",
                                dataField: "prime_indemnite_logement",
                                dataType: 'number',
                                alignment: 'right',
                                summaryType: 'sum',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                        ]
                    },

                    {
                        caption: "Heures supplementaires",
                        dataField: "heure_supplementaire",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: "Gratification",
                        dataField: "gratification",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: "Congés payés",
                        dataField: "conges_payes",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                        width: 120
                    },
                    {
                        caption: "Salaire brut",
                        dataField: "salaire_brut",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                        width: 120
                    },
                    {
                        caption: "Net imposable",
                        dataField: "net_imposable",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },

                    {
                        caption: "Charge salariale",
                        alignment: 'center',
                        columns: [
                            {
                                caption: "CNPS (6,3%)",
                                dataField: "amount_cnps_salaried",
                                dataType: "number",
                                alignment: 'right',
                                summaryType: 'sum',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: "ITS(0% à 32%) net du crédit d'impôt",
                                dataField: "amount_its_salaried",
                                dataType: 'number',
                                alignment: 'right',
                                summaryType: 'sum',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: "Retenues diverses",
                                dataField: "amount_cmu_salaried",
                                dataType: 'number',
                                alignment: 'right',
                                summaryType: 'sum',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                        ]
                    },

                    {
                        caption: "Salaire net",
                        dataField: "net_payes_amount",
                        dataType: 'number',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },

                    {
                      caption: 'Charge patronale',
                      alignment: 'center',
                      columns: [
                          {
                              caption: "CNPS (7,7%)",
                              dataField: "amount_cnps_patronal",
                              dataType: "number",
                              alignment: 'right',
                              summaryType: 'sum',
                              customizeText: function (data) {
                                  return new Intl.NumberFormat('fr-FR').format(data.value);
                              },
                          },
                          {
                              caption: "ITS patronal (1,2%)",
                              dataField: "amount_is_patronal",
                              dataType: 'number',
                              alignment: 'right',
                              summaryType: 'sum',
                              customizeText: function (data) {
                                  return new Intl.NumberFormat('fr-FR').format(data.value);
                              },
                          },
                          {
                              caption: "TA(0,4%)",
                              dataField: "amount_ta_patronal",
                              dataType: 'number',
                              alignment: 'right',
                              summaryType: 'sum',
                              customizeText: function (data) {
                                  return new Intl.NumberFormat('fr-FR').format(data.value);
                              },
                          },
                          {
                              caption: "TFC(0,6%)",
                              dataField: "amount_fpc_patronal",
                              dataType: 'number',
                              alignment: 'right',
                              summaryType: 'sum',
                              customizeText: function (data) {
                                  return new Intl.NumberFormat('fr-FR').format(data.value);
                              },
                          },
                          {
                              caption: "Accident de travail (2%)",
                              dataField: "amount_at_patronal",
                              dataType: 'number',
                              alignment: 'right',
                              summaryType: 'sum',
                              customizeText: function (data) {
                                  return new Intl.NumberFormat('fr-FR').format(data.value);
                              },
                          },
                          {
                              caption: "Prestation familiale (5,75%)",
                              dataField: "amount_pf_patronal",
                              dataType: 'number',
                              alignment: 'right',
                              summaryType: 'sum',
                              customizeText: function (data) {
                                  return new Intl.NumberFormat('fr-FR').format(data.value);
                              },
                          },
                      ]
                    },
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'salaire_categoriel', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            },
                        },
                        {
                            column: 'prime_anciennete', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'heure_supplementaire', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'gratification', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'conges_payes', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'salaire_brut', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_cnps_salaried', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'net_imposable', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_its_salaried', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_cmu_salaried', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'net_payes_amount', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_cnps_patronal', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_is_patronal', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_ta_patronal', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_fpc_patronal', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_at_patronal', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                        {
                            column: 'amount_pf_patronal', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            }
                        },
                    ],
                }
            })
        })
    </script>

{% endblock %}




