{% extends 'base.html.twig' %}

{% block title %}Livre de paie{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridEtatSalaire {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <form action="{{ url('api_reporting_etat_salaire') }}" method="get" class="form-horizontal"
                  name="form_reporting_etat_salaire" id="form_reporting_etat_salaire">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title-custom" style="color: white">
                            <i data-feather="list"></i>
                            ETAT DES SALAIRES
                        </h5>
                    </div>
                    <div class="card-body">
                        {{ include('reporting/form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <button id="btn_reporting_etat_salaire" class="btn btn-primary float-end">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        ETAT DES SALAIRES
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridEtatSalaire">Cliquer sur recherche pour afficher le tableau</div>
                </div>
                <div class="card-footer">
                    <div id="normal-contained" class="float-end"></div>
                </div>
                <form method="POST" action="{{ path('campagne_print_bulletin_etat_salaire') }}"
                      id="formPrintEtatSalaire">
                    <input type="hidden" id="printEtatSalaireInput" name="printEtatSalaireInput">
                    <input type="hidden" id="personalsIdInput" name="personalsIdInput">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        const $form = $(`form[name="form_reporting_etat_salaire"]`);
        $form.submit(function (e) {
            e.preventDefault();
            const form = $(e.currentTarget);
            const $data = form.serialize();
            const tab = $data.split('&');
            const tab2_deb = tab[0].split('=');
            const tab2_fin = tab[1].split('=');
            const debut = tab2_deb[1];
            const fin = tab2_fin[1];

            $('#head').html(`du ${moment(debut).format('DD/MM/Y')} au ${moment(fin).format('DD/MM/Y')} `);
            $('#dataGridEtatSalaire').dxDataGrid({
                dataSource: `{{ url('api_reporting_etat_salaire') }}?${$data}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: 355,
                selection: {
                    mode: "multiple",
                    allowSelectAll: true,
                    showCheckBoxesMode: "always"
                },
                scrolling: {
                    mode: 'virtual',
                    columnRenderingMode: 'virtual'
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('ETAT DES SALAIRE');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then((buffer) => {
                                saveAs(new Blob([buffer], {type: 'application /octet-stream'}), `ETAT DES SALAIRE ${moment(debut).format('DD/MM/Y')} au ${moment(fin).format('DD/MM/Y')}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },

                columns: [
                    {
                        dataField: "index",
                        dataType: "number",
                        caption: "N° Ordre",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        dataField: "dateCreation",
                        dataType: "date",
                        caption: "Date",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        dataField: "periode",
                        dataType: "string",
                        caption: "Periode de Paie",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        dataField: 'nom_salarie',
                        dataType: 'string',
                        caption: 'Nom',
                        alignment: 'left',
                        fixed: true,
                    },
                    {
                        dataField: "service",
                        caption: "Site",
                        dataType: "string",
                        alignment: "left",
                    },
                    {
                        dataField: 'nb_part',
                        dataType: 'number',
                        caption: 'Nombre Part',
                        alignment: 'center',
                    },
                    {
                        dataField: 'day_of_presence',
                        dataType: 'number',
                        caption: 'Nb Jour Travailler',
                        alignment: 'center',
                    },
                    {
                        dataField: "salaireBase",
                        dataType: 'number',
                        caption: 'Salaire Catégoriel',
                        alignment: 'right',
                    },
                    {
                        dataField: 'sursalaire_salaried',
                        caption: 'Sursalaire',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        dataField: "primeAnciennete",
                        dataType: 'number',
                        caption: "Prime Ancienneté",
                        alignment: 'right',
                    },
                    {
                        dataField: "amountHeureSupp",
                        dataType: 'number',
                        caption: "Majoration H.S",
                        alignment: 'right',
                    },
                    {
                        dataField: "salaireImposable",
                        dataType: 'number',
                        caption: "Brut Imposable",
                        alignment: 'right',
                    },
                    {
                        caption: "Charges Salariales",
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'Its',
                                dataField: 'its_salaried',
                                dataType: 'number',
                                alignment: 'right',
                            },
                            {
                                caption: 'Total Retenue Fiscale',
                                dataField: 'fixcale_salariale',
                                dataType: 'number',
                                alignment: 'right',
                            },
                            {
                                caption: 'Cnps',
                                dataField: 'cnps_salaried',
                                dataType: 'number',
                                alignment: 'right',
                            },
                            {
                                caption: 'Cmu',
                                dataField: 'cmu_salaried',
                                dataType: 'number',
                                alignment: 'right',
                            },
                            {
                                caption: 'Total Retenue',
                                dataField: 'charge_salarial',
                                dataType: 'number',
                                alignment: 'right',
                            },
                        ]
                    },
                    {
                        dataField: 'assurance_salariale',
                        caption: 'Assurance',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        caption: 'Régularisations',
                        alignment: "center",
                        columns: [
                            {
                                dataType: "number",
                                dataField: "regul_moins_percus",
                                caption: "Moins Perçus",
                                alignment: "right",
                                width: 150
                            },
                            {
                                dataType: "number",
                                dataField: "regul_plus_percus",
                                caption: "Plus Perçus",
                                alignment: "right",
                                width: 150
                            }
                        ]
                    },
                    {
                        dataField: 'prime_transport_legal',
                        caption: 'Indemnite Transport',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        dataField: 'net_payer_salaried',
                        caption: 'Net Payer',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        caption: "Acompts & Prêts",
                        alignment: "center",
                        columns: [
                            {
                                dataType: "number",
                                dataField: "amount_acompte_mensuel",
                                caption: "Acompt",
                                alignment: "right",
                                width: 150
                            },
                            {
                                dataType: "number",
                                dataField: "amount_pret_mensuel",
                                caption: "Prêt",
                                alignment: "right",
                                width: 150
                            },
                        ]
                    },
                    {
                        caption: 'Charges Fiscales Patronales',
                        alignment: 'center',
                        columns: [
                            {
                                dataField: 'employer_is',
                                caption: 'Its',
                                dataType: 'number',
                                alignment: 'right',
                            },
                            {
                                dataField: 'amount_fdfp',
                                caption: 'Fdfp',
                                dataType: 'number',
                                alignment: 'right',
                            }
                        ]
                    },
                    {
                        caption: 'Charges Sociales Patronales',
                        alignment: 'center',
                        columns: [
                            {
                                dataField: 'employer_cr',
                                caption: 'Caisse Retraite',
                                dataType: 'number',
                                alignment: 'right',

                            },
                            {
                                dataField: 'employer_cmu',
                                caption: 'Cmu',
                                dataType: 'number',
                                alignment: 'right',
                            },
                            {
                                dataField: 'employer_pr',
                                caption: 'Prestation Familiale',
                                dataType: 'number',
                                alignment: 'right',

                            },
                            {
                                dataField: 'employer_at',
                                caption: 'Accident Travail',
                                dataType: 'number',
                                alignment: 'right',
                            },
                        ]
                    },
                    {
                        dataField: 'charge_patronal',
                        caption: 'Total Charges Patronales',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        dataField: 'assurance_patronales',
                        caption: 'Assurance Part Patronale',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        dataField: 'masse_salariale',
                        caption: 'Masse Salariale',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        dataField: 'print_bulletin',
                        caption: 'Imprimer Bulletin',
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $("<a>")
                                .html('<i data-feather="book" style="color: black"></i>')
                                .attr("href", options.data.print_bulletin)
                                .attr("target", '_blank')
                                .appendTo(container);
                            feather.replace();
                        },
                    },
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'index',
                            summaryType: 'count',
                            displayFormat: 'Participant : {0}'
                        },
                        {
                            column: 'service',
                            displayFormat: 'Total :'
                        },
                        {
                            column: 'salaireBase',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'regul_moins_percus',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'regul_plus_percus',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'amount_pret_mensuel',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'amount_acompte_mensuel',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'sursalaire_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'primeAnciennete',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'amountHeureSupp',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'prime_tenue_travail',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'prime_salissure',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'salaireImposable',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'its_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'fixcale_salariale',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'cnps_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'cmu_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'assurance_salariale',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'charge_salarial',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'prime_transport_legal',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'net_payer_salaried',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_is',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_cr',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_cmu',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_pr',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'employer_at',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'amount_fdfp',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'assurance_patronales',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'charge_patronal',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'masse_salariale',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },

                    ]
                }
            }).dxDataGrid('instance');
            $("#normal-contained").dxButton({
                stylingMode: 'contained',
                text: 'Imprimer bulletins',
                type: 'default',
                width: 120,
                onClick() {
                    $("#formPrintEtatSalaire").submit();
                }
            });
        });
    </script>
{% endblock %}