{% extends 'imprimerLivrePaie.html.twig' %}

{% block title 'Certificat de travail' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-offset-2">
            <div class="widget">
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-12 mb-3 mt-5"
                             style="border: 2px double silver; padding: 10px; border-radius: 5px"
                             id="header">
                            <h4 class="text-center"><strong>CERTIFICAT DE TRAVAIL </strong></h4>
                        </div>
                        <br><br>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <span>
                                    Je soussigné, Monsieur <span style="font-weight: bold">................................</span> reconnais avoir reçu de Monsieur le <span
                                                style="font-weight: bold">.......................................</span>, mon Certificate de travail et pour solde de tout compte, un chèque n° <span
                                                style="font-weight: bold">................................</span> d'un montant de : <span
                                                style="font-weight: bold">............................</span>
                                    salaire, accessoires de salaire, remboursement de frais et de toute indemnité qu'elle
                                    qu'en soit la nature, qui m'étaient dus au titre de l'exécution et de la cessation de mon contract de
                                    travail.
                                    <br><br>
                                    En application de l'article 87 du Code du travail de Côte d'Ivoire, le présent reçu
                                    pour solde de tout compte a été établi en double exemplaire dont un m'a été remis. <br><br>
                                </span>
                                </div>
                                <div class="float-end">
                                    <span> Fait à <span style="font-weight: bold">.........................</span>  le <span
                                                style="font-weight: bold">...........................</span></span>
                                </div>
                                <br>
                                <div class="float-start">
                                    <div style="display: flex">
                                        <div style="margin-right: 20px">PJ:</div>
                                        <div>1 Solde de tout compte <br> 1 Certificat de travail</div>
                                    </div>
                                </div>
                                <br>
                                <div class="float-end">
                                    <span>
                                        Signature précédée de la mention <br>
                                        "Pour solde de tout compte"
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <a class="btn btn-dark btn-print pull-right" style="color: white" href="javascript:window.print()">
                <i class="icon-print"></i>
                Imprimer</a>
            <a class="btn btn-info btn-back pull-right" style="margin-right: 5px" onclick="window.close()"
               href="{{ path('app_home') }}">
                retour</a>
        </div>
    </div>
{% endblock %}

