{% extends 'base.html.twig' %}

{% block title %}Cessation de contrat{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridDeparture {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Liste des {{ typeDepart|replace({'_': ' '}) }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridDeparture"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('departure_new', {'typeDepart' : typeDepart }) }}"

                       style="color: white">Nouveau</a>
                    <a href="{{ path('app_home') }}"
                       class="btn btn-info float-end me-2" style="color: white">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridDeparture").dxDataGrid({
                dataSource: `{{ url('departure_api', {'typeDepart':typeDepart}) }}`,
                showBorders: true,
                height: 400,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('CESSATION DE CONTRAT');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `CESSATION DE CONTRAT ${debut ?? " "} - ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        fixed: true
                    },
                    {
                        caption: 'Nom',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'nom_salarie',
                        fixed: true
                    },
                    {
                        caption: 'Prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'prenom_salarie',
                        fixed: true
                    },
                    {
                        caption: 'Postes',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'job_salarie',
                    },
                    {
                        caption: 'Site',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'workplace_salarie',
                    },
                    {
                        caption: 'Date embauche',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'embauche_salarie',
                    },
                    {
                        caption: 'Date départ salarié',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_depart_salarie',
                    },
                    {
                        caption: 'Durée de présence',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'nbr_jour_presence',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value) + ' jours';
                        },
                    },
                    {
                        caption: 'Salaire de présence',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'salaire_presence',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Gratification',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'gratification_prorata',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Date retour congés',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_retour_conges',
                    },
                    {
                        caption: 'Période de référence congés',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'periode_reference',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value) + ' mois';
                        },
                    },
                    {
                        caption: 'Durée ouvrable congés',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'jour_ouvrable_conge',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value) + ' jrs cumulé';
                        },
                    },
                    {
                        caption: 'Salaire moyen congés',
                        alignment: 'right',
                        dataType: 'string',
                        dataField: 'salaire_moyen_conges',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Indemnité de congés',
                        alignment: 'right',
                        dataType: 'string',
                        dataField: 'allocation_conge',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Durée préavis',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'duree_preavis',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value) + ' mois';
                        },
                    },
                    {
                        caption: 'Indemnité de préavis',
                        alignment: 'right',
                        dataType: 'string',
                        dataField: 'indemnite_preavis',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Salaire global moyen',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'salaire_global_moyen',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Indemnité de licenciement',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'indemnite_licenciement',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Quotité imposable (indmt licenciement)',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'quotite_imposable_licenciement',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Quotité non imposable (indmt licenciement)',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'quotite_non_imposable_licenciement',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Total indemnité imposable',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'total_indemnite_imposable',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Impôts à prélever',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'charge_personal_indemnite',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Net à payer',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'net_payer_indemnite',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Frais funéraire',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'frais_funeraire',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },

                    {
                        caption: 'Actions',
                        alignment: 'center',
                        columns: [
                            {
                                dataField: 'modifier',
                                caption: 'Consulter',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="eye" style="color: #C9971C"></i>')
                                        .attr("href", options.data.modifier)
                                        .appendTo(container);
                                    feather.replace();
                                },
                            },
                            {
                                dataField: 'url_solde_all_compte',
                                caption: 'Sold de tout compte',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="printer" style="color: black"></i>')
                                        .attr("href", options.data.url_solde_all_compte)
                                        .appendTo(container);
                                    feather.replace();
                                },
                            },
                            {
                                dataField: 'url_certificat',
                                caption: 'Certificat travail',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="printer" style="color: black"></i>')
                                        .attr("href", options.data.url_certificat)
                                        .appendTo(container);
                                    feather.replace();
                                },
                            },
                             {
                                dataField: 'bulletin',
                                caption: 'Bulletin',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="printer" style="color: black"></i>')
                                        .attr("href", options.data.bulletin)
                                        .appendTo(container);
                                    feather.replace();
                                },
                            },
                        ]
                    }
                ],
            })
        })
    </script>

{% endblock %}