{% extends 'base.html.twig' %}

{% block title %}Cessation de contrat{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridDeparture {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        CESSATION DE CONTRACT SUR LA PERIODE DE {{ date|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridDeparture"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('departure_new', {'typeDepart' : typeDepart }) }}"

                       style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridDeparture").dxDataGrid({
                dataSource: `{{ url('departure_api', {'typeDepart':typeDepart}) }}`,
                showBorders: true,
                height: 300,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('CESSATION DE CONTRAT');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `CESSATION DE CONTRAT ${debut ?? " "} - ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    // width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        fixed: true
                    },
                    {
                        caption: 'Nom et prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'full_name',
                        fixed: true
                    },
                    {
                        caption: 'Date cessation',
                        dataType: 'date',
                        dataField: 'dateCessation',
                        alignment: 'center',
                    },
                    {
                        caption: 'Motif de la cessation',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'motifCessation',
                    },
                    {
                        caption: 'Salaire de presence',
                        dataType: 'number',
                        dataField: 'solde_presence',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Salaire moyen mensuel',
                        dataType: 'number',
                        dataField: 'salaireMoyen',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Date dernier retour congé',
                        dataType: 'string',
                        dataField: 'dateRetourDrnConges',
                        alignment: 'center',
                    },
                    {
                        caption: 'Gratification cessation',
                        dataType: 'number',
                        dataField: 'gratification',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Indemnité de congé',
                        dataType: 'number',
                        dataField: 'indemniteConges',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Préavis',
                        dataType: 'number',
                        dataField: 'preavis',
                        alignment: 'right',
                    },
                    {
                        caption: 'Indemnité de préavis',
                        dataType: 'number',
                        dataField: 'indemnitePreavis',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Ancienneté (en mois)',
                        dataType: 'number',
                        dataField: 'anciennete',
                        alignment: 'right',
                    },
                    {
                        caption: 'Indemnité de cessation',
                        dataType: 'number',
                        dataField: 'indemnite_licenciement',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Indemnité de retraite',
                        dataType: 'number',
                        dataField: 'indemnite_retraite',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Indemnité de décès',
                        dataType: 'number',
                        dataField: 'indemnite_deces',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Frais funéraire',
                        dataType: 'number',
                        dataField: 'frais_funeraire',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Actions',
                        alignment: 'center',
                        columns: [
                            {
                                dataField: 'modifier',
                                caption: 'Modifier',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="edit" style="color: #C9971C"></i>')
                                        .attr("href", options.data.modifier)
                                        .appendTo(container);
                                    feather.replace();
                                },
                            },
                            {
                                dataField: 'sold_tout_compte',
                                caption: 'Sold de tout compte',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="printer" style="color: black"></i>')
                                        .attr("href", options.data.sold_tout_compte)
                                        .appendTo(container);
                                    feather.replace();
                                },
                            },
                            {
                                dataField: 'certificat',
                                caption: 'Certificat travail',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="printer" style="color: black"></i>')
                                        .attr("href", options.data.certificat)
                                        .appendTo(container);
                                    feather.replace();
                                },
                            },
                        ]
                    }
                ],
            })
        })
    </script>

{% endblock %}