{% extends 'base.html.twig' %}

{% block title %}Historique Congés{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridAcompte {
            border-width: 50px;
            height: 350px;
        }
    </style>
{% endblock %}
{% block body %}
    <form method="POST" action="#" id="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title-custom" style="color: white" id="date">
                            <i data-feather="list"></i>
                            MODEL DE FICHIER EXCEL A IMPORTER
                        </h5>
                    </div>
                    <div class="card-body">
                        <div id="dataHistoricConge"></div>
                    </div>
                    <div class="card-footer">
                        <div id="exportButton" class="float-end mx-1"></div>
                        <div id="btnBackToHome" class="float-end mx-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {

           var dataGrid = $("#dataHistoricConge").dxDataGrid({
                dataSource: '{{ url("import_file_api_historic_conge") }}',
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                height:60,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: 'virtual'
                },
                editing: {
                    mode: 'cell'
                },
                groupPanel: {
                    visible: true
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('Model historiques Congés');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value);
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            const date = new Date();
                            const year = date.getFullYear();
                            const month = date.getMonth() + 1;
                            const day = date.getDate();
                            const dateFormat = `${year}-${month < 10 ? '0' : ''}${month}-${day < 10 ? '0' : ''}${day}`;
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `HISTORIQUE CONGES${dateFormat}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                 paging: {
                    pageSize: 10
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'Matricule',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'matricule',
                    },
                    {
                        caption: 'Nom',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'nom',
                    },
                     {
                        caption: 'Prénom(s)',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'prenom',
                    },
                   
                    {
                        caption: 'Salaire moyen annuel',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'salaire_moyen',
                    },
                    {
                        caption: 'Stock de congé',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'stock',
                    },
                     {
                        caption: 'Date dernier retour de congé',
                        alignment: 'center',
                        dataType: 'date',
                        dataField: 'date_retour',
                    },
                ],
            }).dxDataGrid("instance");
            $("#exportButton").dxButton({
                text: "telecharger",
                type: "default", 
                onClick: () => {
                    var workbook = new ExcelJS.Workbook();    
                    var worksheet = workbook.addWorksheet("SheetName");

                    DevExpress.excelExporter.exportDataGrid({
                    component: $("#dataHistoricConge").dxDataGrid("instance"),
                    worksheet: worksheet
                    }).then(function() {
                    workbook.xlsx.writeBuffer().then(function(buffer) {
                        saveAs(new Blob([buffer], { type: "application/octet-stream" }), "dataGrid.xlsx");
                    });
                    });
                }
            });
            $("#btnBackToHome").dxButton({ 
                stylingMode: 'contained',
                text: 'Retour',
                type: 'info',
                width: 120,
                onClick() {
                    window.location.href = "{{path('import_file_historic_conge')}}";
                }
            });
        })
    </script>
{% endblock %} 