{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <span class="text-muted text-uppercase fs-12 fw-bold">Today Revenue</span>
                            <h3 class="mb-0">$2100</h3>
                        </div>
                        <div class="align-self-center flex-shrink-0" style="position: relative;">
                            <div id="today-revenue-chart" class="apex-charts" style="min-height: 45px;">
                                <div id="apexchartsn5hztcnqj"
                                     class="apexcharts-canvas apexchartsn5hztcnqj apexcharts-theme-light"
                                     style="width: 90px; height: 45px;">
                                    <svg id="SvgjsSvg1478" width="90" height="45" xmlns="http://www.w3.org/2000/svg"
                                         version="1.1"
                                         class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                         style="background: transparent;">
                                        <g id="SvgjsG1480" class="apexcharts-inner apexcharts-graphical"
                                           transform="translate(20, 0)">
                                            <defs id="SvgjsDefs1479">
                                                <clipPath id="gridRectMaskn5hztcnqj">
                                                    <rect id="SvgjsRect1486" width="76" height="47" x="-3" y="-1" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMaskn5hztcnqj">
                                                    <rect id="SvgjsRect1487" width="74" height="49" x="-2" y="-2" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <linearGradient id="SvgjsLinearGradient1492" x1="0" y1="0" x2="0"
                                                                y2="1">
                                                    <stop id="SvgjsStop1493" stop-opacity="0.45"
                                                          stop-color="rgba(114,124,245,0.45)" offset="0.45"></stop>
                                                    <stop id="SvgjsStop1494" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                    <stop id="SvgjsStop1495" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                </linearGradient>
                                            </defs>
                                            <line id="SvgjsLine1485" x1="6.5" y1="0" x2="6.5" y2="45" stroke="#b6b6b6"
                                                  stroke-dasharray="3" class="apexcharts-xcrosshairs" x="6.5" y="0"
                                                  width="1" height="45" fill="#b1b9c4" filter="none" fill-opacity="0.9"
                                                  stroke-width="1"></line>
                                            <g id="SvgjsG1498" class="apexcharts-xaxis" transform="translate(0, 0)">
                                                <g id="SvgjsG1499" class="apexcharts-xaxis-texts-g"
                                                   transform="translate(0, 2.75)"></g>
                                            </g>
                                            <g id="SvgjsG1512" class="apexcharts-grid">
                                                <g id="SvgjsG1513" class="apexcharts-gridlines-horizontal"
                                                   style="display: none;">
                                                    <line id="SvgjsLine1515" x1="0" y1="0" x2="70" y2="0"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1516" x1="0" y1="9" x2="70" y2="9"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1517" x1="0" y1="18" x2="70" y2="18"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1518" x1="0" y1="27" x2="70" y2="27"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1519" x1="0" y1="36" x2="70" y2="36"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1520" x1="0" y1="45" x2="70" y2="45"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                </g>
                                                <g id="SvgjsG1514" class="apexcharts-gridlines-vertical"
                                                   style="display: none;"></g>
                                                <line id="SvgjsLine1522" x1="0" y1="45" x2="70" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                                <line id="SvgjsLine1521" x1="0" y1="1" x2="0" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                            </g>
                                            <g id="SvgjsG1488" class="apexcharts-area-series apexcharts-plot-series">
                                                <g id="SvgjsG1489" class="apexcharts-series" seriesName="seriesx1"
                                                   data:longestSeries="true" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1496"
                                                          d="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          fill="url(#SvgjsLinearGradient1492)" fill-opacity="1"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskn5hztcnqj)"
                                                          pathTo="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <path id="SvgjsPath1497"
                                                          d="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          fill="none" fill-opacity="1" stroke="#727cf5"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="2"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskn5hztcnqj)"
                                                          pathTo="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <g id="SvgjsG1490" class="apexcharts-series-markers-wrap"
                                                       data:realIndex="0">
                                                        <g class="apexcharts-series-markers">
                                                            <circle id="SvgjsCircle1528" r="0" cx="7" cy="15.3"
                                                                    class="apexcharts-marker wjye9o6cl no-pointer-events"
                                                                    stroke="#ffffff" fill="#727cf5" fill-opacity="1"
                                                                    stroke-width="2" stroke-opacity="0.9"
                                                                    default-marker-size="0"></circle>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g id="SvgjsG1491" class="apexcharts-datalabels" data:realIndex="0"></g>
                                            </g>
                                            <line id="SvgjsLine1523" x1="0" y1="0" x2="70" y2="0" stroke="#b6b6b6"
                                                  stroke-dasharray="0" stroke-width="1"
                                                  class="apexcharts-ycrosshairs"></line>
                                            <line id="SvgjsLine1524" x1="0" y1="0" x2="70" y2="0" stroke-dasharray="0"
                                                  stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                            <g id="SvgjsG1525" class="apexcharts-yaxis-annotations"></g>
                                            <g id="SvgjsG1526" class="apexcharts-xaxis-annotations"></g>
                                            <g id="SvgjsG1527" class="apexcharts-point-annotations"></g>
                                        </g>
                                        <rect id="SvgjsRect1484" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                              opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                              fill="#fefefe"></rect>
                                        <g id="SvgjsG1511" class="apexcharts-yaxis" rel="0"
                                           transform="translate(-18, 0)"></g>
                                        <g id="SvgjsG1481" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend" style="max-height: 22.5px;"></div>
                                    <div class="apexcharts-tooltip apexcharts-theme-dark"
                                         style="left: 38px; top: 18.3px;">
                                        <div class="apexcharts-tooltip-series-group apexcharts-active"
                                             style="order: 1; display: flex;"><span class="apexcharts-tooltip-marker"
                                                                                    style="background-color: rgb(114, 124, 245); display: none;"></span>
                                            <div class="apexcharts-tooltip-text"
                                                 style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                <div class="apexcharts-tooltip-y-group"><span
                                                            class="apexcharts-tooltip-text-label"></span><span
                                                            class="apexcharts-tooltip-text-value">66</span></div>
                                                <div class="apexcharts-tooltip-z-group"><span
                                                            class="apexcharts-tooltip-text-z-label"></span><span
                                                            class="apexcharts-tooltip-text-z-value"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark">
                                        <div class="apexcharts-yaxistooltip-text"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="text-success fw-bold fs-13">
                                                    <i class="uil uil-arrow-up"></i> 10.21%
                                                </span>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 91px; height: 67px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <span class="text-muted text-uppercase fs-12 fw-bold">Product Sold</span>
                            <h3 class="mb-0">558</h3>
                        </div>
                        <div class="align-self-center flex-shrink-0" style="position: relative;">
                            <div id="today-product-sold-chart" class="apex-charts" style="min-height: 45px;">
                                <div id="apexchartsrbnxsm4u"
                                     class="apexcharts-canvas apexchartsrbnxsm4u apexcharts-theme-light"
                                     style="width: 90px; height: 45px;">
                                    <svg id="SvgjsSvg1530" width="90" height="45" xmlns="http://www.w3.org/2000/svg"
                                         version="1.1"
                                         class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                         style="background: transparent;">
                                        <g id="SvgjsG1532" class="apexcharts-inner apexcharts-graphical"
                                           transform="translate(20, 0)">
                                            <defs id="SvgjsDefs1531">
                                                <clipPath id="gridRectMaskrbnxsm4u">
                                                    <rect id="SvgjsRect1538" width="76" height="47" x="-3" y="-1" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMaskrbnxsm4u">
                                                    <rect id="SvgjsRect1539" width="74" height="49" x="-2" y="-2" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <linearGradient id="SvgjsLinearGradient1544" x1="0" y1="0" x2="0"
                                                                y2="1">
                                                    <stop id="SvgjsStop1545" stop-opacity="0.45"
                                                          stop-color="rgba(247,126,83,0.45)" offset="0.45"></stop>
                                                    <stop id="SvgjsStop1546" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                    <stop id="SvgjsStop1547" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                </linearGradient>
                                            </defs>
                                            <line id="SvgjsLine1537" x1="0" y1="0" x2="0" y2="45" stroke="#b6b6b6"
                                                  stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0"
                                                  width="1" height="45" fill="#b1b9c4" filter="none" fill-opacity="0.9"
                                                  stroke-width="1"></line>
                                            <g id="SvgjsG1550" class="apexcharts-xaxis" transform="translate(0, 0)">
                                                <g id="SvgjsG1551" class="apexcharts-xaxis-texts-g"
                                                   transform="translate(0, 2.75)"></g>
                                            </g>
                                            <g id="SvgjsG1564" class="apexcharts-grid">
                                                <g id="SvgjsG1565" class="apexcharts-gridlines-horizontal"
                                                   style="display: none;">
                                                    <line id="SvgjsLine1567" x1="0" y1="0" x2="70" y2="0"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1568" x1="0" y1="9" x2="70" y2="9"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1569" x1="0" y1="18" x2="70" y2="18"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1570" x1="0" y1="27" x2="70" y2="27"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1571" x1="0" y1="36" x2="70" y2="36"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1572" x1="0" y1="45" x2="70" y2="45"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                </g>
                                                <g id="SvgjsG1566" class="apexcharts-gridlines-vertical"
                                                   style="display: none;"></g>
                                                <line id="SvgjsLine1574" x1="0" y1="45" x2="70" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                                <line id="SvgjsLine1573" x1="0" y1="1" x2="0" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                            </g>
                                            <g id="SvgjsG1540" class="apexcharts-area-series apexcharts-plot-series">
                                                <g id="SvgjsG1541" class="apexcharts-series" seriesName="seriesx1"
                                                   data:longestSeries="true" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1548"
                                                          d="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          fill="url(#SvgjsLinearGradient1544)" fill-opacity="1"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskrbnxsm4u)"
                                                          pathTo="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <path id="SvgjsPath1549"
                                                          d="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          fill="none" fill-opacity="1" stroke="#f77e53"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="2"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskrbnxsm4u)"
                                                          pathTo="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <g id="SvgjsG1542" class="apexcharts-series-markers-wrap"
                                                       data:realIndex="0">
                                                        <g class="apexcharts-series-markers">
                                                            <circle id="SvgjsCircle1580" r="0" cx="0" cy="0"
                                                                    class="apexcharts-marker wxjpex6wa no-pointer-events"
                                                                    stroke="#ffffff" fill="#f77e53" fill-opacity="1"
                                                                    stroke-width="2" stroke-opacity="0.9"
                                                                    default-marker-size="0"></circle>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g id="SvgjsG1543" class="apexcharts-datalabels" data:realIndex="0"></g>
                                            </g>
                                            <line id="SvgjsLine1575" x1="0" y1="0" x2="70" y2="0" stroke="#b6b6b6"
                                                  stroke-dasharray="0" stroke-width="1"
                                                  class="apexcharts-ycrosshairs"></line>
                                            <line id="SvgjsLine1576" x1="0" y1="0" x2="70" y2="0" stroke-dasharray="0"
                                                  stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                            <g id="SvgjsG1577" class="apexcharts-yaxis-annotations"></g>
                                            <g id="SvgjsG1578" class="apexcharts-xaxis-annotations"></g>
                                            <g id="SvgjsG1579" class="apexcharts-point-annotations"></g>
                                        </g>
                                        <rect id="SvgjsRect1536" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                              opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                              fill="#fefefe"></rect>
                                        <g id="SvgjsG1563" class="apexcharts-yaxis" rel="0"
                                           transform="translate(-18, 0)"></g>
                                        <g id="SvgjsG1533" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend" style="max-height: 22.5px;"></div>
                                    <div class="apexcharts-tooltip apexcharts-theme-dark">
                                        <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                                    class="apexcharts-tooltip-marker"
                                                    style="background-color: rgb(247, 126, 83);"></span>
                                            <div class="apexcharts-tooltip-text"
                                                 style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                <div class="apexcharts-tooltip-y-group"><span
                                                            class="apexcharts-tooltip-text-label"></span><span
                                                            class="apexcharts-tooltip-text-value"></span></div>
                                                <div class="apexcharts-tooltip-z-group"><span
                                                            class="apexcharts-tooltip-text-z-label"></span><span
                                                            class="apexcharts-tooltip-text-z-value"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark">
                                        <div class="apexcharts-yaxistooltip-text"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger fw-bold fs-13">
                                                    <i class="uil uil-arrow-down"></i> 5.05%
                                                </span>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 91px; height: 67px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <span class="text-muted text-uppercase fs-12 fw-bold">New Customers</span>
                            <h3 class="mb-0">65</h3>
                        </div>
                        <div class="align-self-center flex-shrink-0" style="position: relative;">
                            <div id="today-new-customer-chart" class="apex-charts" style="min-height: 45px;">
                                <div id="apexchartsawq5dyhdi"
                                     class="apexcharts-canvas apexchartsawq5dyhdi apexcharts-theme-light"
                                     style="width: 90px; height: 45px;">
                                    <svg id="SvgjsSvg1582" width="90" height="45" xmlns="http://www.w3.org/2000/svg"
                                         version="1.1"
                                         class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                         style="background: transparent;">
                                        <g id="SvgjsG1584" class="apexcharts-inner apexcharts-graphical"
                                           transform="translate(20, 0)">
                                            <defs id="SvgjsDefs1583">
                                                <clipPath id="gridRectMaskawq5dyhdi">
                                                    <rect id="SvgjsRect1590" width="76" height="47" x="-3" y="-1" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMaskawq5dyhdi">
                                                    <rect id="SvgjsRect1591" width="74" height="49" x="-2" y="-2" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <linearGradient id="SvgjsLinearGradient1596" x1="0" y1="0" x2="0"
                                                                y2="1">
                                                    <stop id="SvgjsStop1597" stop-opacity="0.45"
                                                          stop-color="rgba(67,211,158,0.45)" offset="0.45"></stop>
                                                    <stop id="SvgjsStop1598" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                    <stop id="SvgjsStop1599" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                </linearGradient>
                                            </defs>
                                            <line id="SvgjsLine1589" x1="0" y1="0" x2="0" y2="45" stroke="#b6b6b6"
                                                  stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0"
                                                  width="1" height="45" fill="#b1b9c4" filter="none" fill-opacity="0.9"
                                                  stroke-width="1"></line>
                                            <g id="SvgjsG1602" class="apexcharts-xaxis" transform="translate(0, 0)">
                                                <g id="SvgjsG1603" class="apexcharts-xaxis-texts-g"
                                                   transform="translate(0, 2.75)"></g>
                                            </g>
                                            <g id="SvgjsG1616" class="apexcharts-grid">
                                                <g id="SvgjsG1617" class="apexcharts-gridlines-horizontal"
                                                   style="display: none;">
                                                    <line id="SvgjsLine1619" x1="0" y1="0" x2="70" y2="0"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1620" x1="0" y1="9" x2="70" y2="9"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1621" x1="0" y1="18" x2="70" y2="18"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1622" x1="0" y1="27" x2="70" y2="27"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1623" x1="0" y1="36" x2="70" y2="36"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1624" x1="0" y1="45" x2="70" y2="45"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                </g>
                                                <g id="SvgjsG1618" class="apexcharts-gridlines-vertical"
                                                   style="display: none;"></g>
                                                <line id="SvgjsLine1626" x1="0" y1="45" x2="70" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                                <line id="SvgjsLine1625" x1="0" y1="1" x2="0" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                            </g>
                                            <g id="SvgjsG1592" class="apexcharts-area-series apexcharts-plot-series">
                                                <g id="SvgjsG1593" class="apexcharts-series" seriesName="seriesx1"
                                                   data:longestSeries="true" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1600"
                                                          d="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          fill="url(#SvgjsLinearGradient1596)" fill-opacity="1"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskawq5dyhdi)"
                                                          pathTo="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <path id="SvgjsPath1601"
                                                          d="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          fill="none" fill-opacity="1" stroke="#43d39e"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="2"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskawq5dyhdi)"
                                                          pathTo="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <g id="SvgjsG1594" class="apexcharts-series-markers-wrap"
                                                       data:realIndex="0">
                                                        <g class="apexcharts-series-markers">
                                                            <circle id="SvgjsCircle1632" r="0" cx="0" cy="0"
                                                                    class="apexcharts-marker w9jkvytlvh no-pointer-events"
                                                                    stroke="#ffffff" fill="#43d39e" fill-opacity="1"
                                                                    stroke-width="2" stroke-opacity="0.9"
                                                                    default-marker-size="0"></circle>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g id="SvgjsG1595" class="apexcharts-datalabels" data:realIndex="0"></g>
                                            </g>
                                            <line id="SvgjsLine1627" x1="0" y1="0" x2="70" y2="0" stroke="#b6b6b6"
                                                  stroke-dasharray="0" stroke-width="1"
                                                  class="apexcharts-ycrosshairs"></line>
                                            <line id="SvgjsLine1628" x1="0" y1="0" x2="70" y2="0" stroke-dasharray="0"
                                                  stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                            <g id="SvgjsG1629" class="apexcharts-yaxis-annotations"></g>
                                            <g id="SvgjsG1630" class="apexcharts-xaxis-annotations"></g>
                                            <g id="SvgjsG1631" class="apexcharts-point-annotations"></g>
                                        </g>
                                        <rect id="SvgjsRect1588" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                              opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                              fill="#fefefe"></rect>
                                        <g id="SvgjsG1615" class="apexcharts-yaxis" rel="0"
                                           transform="translate(-18, 0)"></g>
                                        <g id="SvgjsG1585" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend" style="max-height: 22.5px;"></div>
                                    <div class="apexcharts-tooltip apexcharts-theme-dark">
                                        <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                                    class="apexcharts-tooltip-marker"
                                                    style="background-color: rgb(67, 211, 158);"></span>
                                            <div class="apexcharts-tooltip-text"
                                                 style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                <div class="apexcharts-tooltip-y-group"><span
                                                            class="apexcharts-tooltip-text-label"></span><span
                                                            class="apexcharts-tooltip-text-value"></span></div>
                                                <div class="apexcharts-tooltip-z-group"><span
                                                            class="apexcharts-tooltip-text-z-label"></span><span
                                                            class="apexcharts-tooltip-text-z-value"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark">
                                        <div class="apexcharts-yaxistooltip-text"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="text-success fw-bold fs-13">
                                                    <i class="uil uil-arrow-up"></i> 25.16%
                                                </span>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 91px; height: 67px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <span class="text-muted text-uppercase fs-12 fw-bold">New Visitors</span>
                            <h3 class="mb-0">958</h3>
                        </div>
                        <div class="align-self-center flex-shrink-0" style="position: relative;">
                            <div id="today-new-visitors-chart" class="apex-charts" style="min-height: 45px;">
                                <div id="apexchartsujo1si83"
                                     class="apexcharts-canvas apexchartsujo1si83 apexcharts-theme-light"
                                     style="width: 90px; height: 45px;">
                                    <svg id="SvgjsSvg1634" width="90" height="45" xmlns="http://www.w3.org/2000/svg"
                                         version="1.1"
                                         class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                         style="background: transparent;">
                                        <g id="SvgjsG1636" class="apexcharts-inner apexcharts-graphical"
                                           transform="translate(20, 0)">
                                            <defs id="SvgjsDefs1635">
                                                <clipPath id="gridRectMaskujo1si83">
                                                    <rect id="SvgjsRect1642" width="76" height="47" x="-3" y="-1" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <clipPath id="gridRectMarkerMaskujo1si83">
                                                    <rect id="SvgjsRect1643" width="74" height="49" x="-2" y="-2" rx="0"
                                                          ry="0" opacity="1" stroke-width="0" stroke="none"
                                                          stroke-dasharray="0" fill="#fff"></rect>
                                                </clipPath>
                                                <linearGradient id="SvgjsLinearGradient1648" x1="0" y1="0" x2="0"
                                                                y2="1">
                                                    <stop id="SvgjsStop1649" stop-opacity="0.45"
                                                          stop-color="rgba(255,190,11,0.45)" offset="0.45"></stop>
                                                    <stop id="SvgjsStop1650" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                    <stop id="SvgjsStop1651" stop-opacity="0.05"
                                                          stop-color="rgba(255,255,255,0.05)" offset="1"></stop>
                                                </linearGradient>
                                            </defs>
                                            <line id="SvgjsLine1641" x1="0" y1="0" x2="0" y2="45" stroke="#b6b6b6"
                                                  stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0"
                                                  width="1" height="45" fill="#b1b9c4" filter="none" fill-opacity="0.9"
                                                  stroke-width="1"></line>
                                            <g id="SvgjsG1654" class="apexcharts-xaxis" transform="translate(0, 0)">
                                                <g id="SvgjsG1655" class="apexcharts-xaxis-texts-g"
                                                   transform="translate(0, 2.75)"></g>
                                            </g>
                                            <g id="SvgjsG1668" class="apexcharts-grid">
                                                <g id="SvgjsG1669" class="apexcharts-gridlines-horizontal"
                                                   style="display: none;">
                                                    <line id="SvgjsLine1671" x1="0" y1="0" x2="70" y2="0"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1672" x1="0" y1="9" x2="70" y2="9"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1673" x1="0" y1="18" x2="70" y2="18"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1674" x1="0" y1="27" x2="70" y2="27"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1675" x1="0" y1="36" x2="70" y2="36"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                    <line id="SvgjsLine1676" x1="0" y1="45" x2="70" y2="45"
                                                          stroke="#e0e0e0" stroke-dasharray="0"
                                                          class="apexcharts-gridline"></line>
                                                </g>
                                                <g id="SvgjsG1670" class="apexcharts-gridlines-vertical"
                                                   style="display: none;"></g>
                                                <line id="SvgjsLine1678" x1="0" y1="45" x2="70" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                                <line id="SvgjsLine1677" x1="0" y1="1" x2="0" y2="45"
                                                      stroke="transparent" stroke-dasharray="0"></line>
                                            </g>
                                            <g id="SvgjsG1644" class="apexcharts-area-series apexcharts-plot-series">
                                                <g id="SvgjsG1645" class="apexcharts-series" seriesName="seriesx1"
                                                   data:longestSeries="true" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1652"
                                                          d="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          fill="url(#SvgjsLinearGradient1648)" fill-opacity="1"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskujo1si83)"
                                                          pathTo="M 0 45L 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003C 70 20.700000000000003 70 20.700000000000003 70 45M 70 20.700000000000003z"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <path id="SvgjsPath1653"
                                                          d="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          fill="none" fill-opacity="1" stroke="#ffbe0b"
                                                          stroke-opacity="1" stroke-linecap="butt" stroke-width="2"
                                                          stroke-dasharray="0" class="apexcharts-area" index="0"
                                                          clip-path="url(#gridRectMaskujo1si83)"
                                                          pathTo="M 0 33.75C 2.4499999999999997 33.75 4.550000000000001 15.3 7 15.3C 9.45 15.3 11.55 26.55 14 26.55C 16.45 26.55 18.55 6.75 21 6.75C 23.45 6.75 25.55 16.650000000000002 28 16.650000000000002C 30.45 16.650000000000002 32.55 33.75 35 33.75C 37.45 33.75 39.55 25.2 42 25.2C 44.45 25.2 46.55 39.6 49 39.6C 51.45 39.6 53.55 28.8 56 28.8C 58.45 28.8 60.55 40.95 63 40.95C 65.45 40.95 67.55 20.700000000000003 70 20.700000000000003"
                                                          pathFrom="M -1 45L -1 45L 7 45L 14 45L 21 45L 28 45L 35 45L 42 45L 49 45L 56 45L 63 45L 70 45"></path>
                                                    <g id="SvgjsG1646" class="apexcharts-series-markers-wrap"
                                                       data:realIndex="0">
                                                        <g class="apexcharts-series-markers">
                                                            <circle id="SvgjsCircle1684" r="0" cx="0" cy="0"
                                                                    class="apexcharts-marker wmjywk7f7 no-pointer-events"
                                                                    stroke="#ffffff" fill="#ffbe0b" fill-opacity="1"
                                                                    stroke-width="2" stroke-opacity="0.9"
                                                                    default-marker-size="0"></circle>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g id="SvgjsG1647" class="apexcharts-datalabels" data:realIndex="0"></g>
                                            </g>
                                            <line id="SvgjsLine1679" x1="0" y1="0" x2="70" y2="0" stroke="#b6b6b6"
                                                  stroke-dasharray="0" stroke-width="1"
                                                  class="apexcharts-ycrosshairs"></line>
                                            <line id="SvgjsLine1680" x1="0" y1="0" x2="70" y2="0" stroke-dasharray="0"
                                                  stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                            <g id="SvgjsG1681" class="apexcharts-yaxis-annotations"></g>
                                            <g id="SvgjsG1682" class="apexcharts-xaxis-annotations"></g>
                                            <g id="SvgjsG1683" class="apexcharts-point-annotations"></g>
                                        </g>
                                        <rect id="SvgjsRect1640" width="0" height="0" x="0" y="0" rx="0" ry="0"
                                              opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"
                                              fill="#fefefe"></rect>
                                        <g id="SvgjsG1667" class="apexcharts-yaxis" rel="0"
                                           transform="translate(-18, 0)"></g>
                                        <g id="SvgjsG1637" class="apexcharts-annotations"></g>
                                    </svg>
                                    <div class="apexcharts-legend" style="max-height: 22.5px;"></div>
                                    <div class="apexcharts-tooltip apexcharts-theme-dark">
                                        <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                                    class="apexcharts-tooltip-marker"
                                                    style="background-color: rgb(255, 190, 11);"></span>
                                            <div class="apexcharts-tooltip-text"
                                                 style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                <div class="apexcharts-tooltip-y-group"><span
                                                            class="apexcharts-tooltip-text-label"></span><span
                                                            class="apexcharts-tooltip-text-value"></span></div>
                                                <div class="apexcharts-tooltip-z-group"><span
                                                            class="apexcharts-tooltip-text-z-label"></span><span
                                                            class="apexcharts-tooltip-text-z-value"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark">
                                        <div class="apexcharts-yaxistooltip-text"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger fw-bold fs-13">
                                                    <i class="uil uil-arrow-down"></i> 5.05%
                                                </span>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 91px; height: 67px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-5">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive mt-4">
                        <table class="table table-hover table-nowrap mb-0">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#98754</td>
                                <td>ASOS Ridley High</td>
                                <td>Otto B</td>
                                <td>$79.49</td>
                                <td><span class="badge badge-soft-warning py-1">Pending</span></td>
                            </tr>
                            <tr>
                                <td>#98753</td>
                                <td>Marco Lightweight Shirt</td>
                                <td>Mark P</td>
                                <td>$125.49</td>
                                <td><span class="badge badge-soft-success py-1">Delivered</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#98752</td>
                                <td>Half Sleeve Shirt</td>
                                <td>Dave B</td>
                                <td>$35.49</td>
                                <td><span class="badge badge-soft-danger py-1">Declined</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#98751</td>
                                <td>Lightweight Jacket</td>
                                <td>Shreyu N</td>
                                <td>$49.49</td>
                                <td><span class="badge badge-soft-success py-1">Delivered</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#98750</td>
                                <td>Marco Shoes</td>
                                <td>Rik N</td>
                                <td>$69.49</td>
                                <td><span class="badge badge-soft-danger py-1">Declined</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-->
            </div> <!-- end col--><!-- end col-->
        </div>
        <div class="col-xl-7">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive mt-4">
                        <table class="table table-hover table-nowrap mb-0">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#98754</td>
                                <td>ASOS Ridley High</td>
                                <td>Otto B</td>
                                <td>$79.49</td>
                                <td><span class="badge badge-soft-warning py-1">Pending</span></td>
                            </tr>
                            <tr>
                                <td>#98753</td>
                                <td>Marco Lightweight Shirt</td>
                                <td>Mark P</td>
                                <td>$125.49</td>
                                <td><span class="badge badge-soft-success py-1">Delivered</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#98752</td>
                                <td>Half Sleeve Shirt</td>
                                <td>Dave B</td>
                                <td>$35.49</td>
                                <td><span class="badge badge-soft-danger py-1">Declined</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#98751</td>
                                <td>Lightweight Jacket</td>
                                <td>Shreyu N</td>
                                <td>$49.49</td>
                                <td><span class="badge badge-soft-success py-1">Delivered</span>
                                </td>
                            </tr>
                            <tr>
                                <td>#98750</td>
                                <td>Marco Shoes</td>
                                <td>Rik N</td>
                                <td>$69.49</td>
                                <td><span class="badge badge-soft-danger py-1">Declined</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
    </div>
{% endblock %}

