{% extends 'base.html.twig' %}

{% block title %}Etat des retenues sur salaire (retenue) {% endblock %}
{% block stylesheets %}
    <style>
        #dataGridRetenueSalaire {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <form method="post" action="{{ path('dev_paie_operation_validate_retenue') }}" id="formContainerRetenueSalaire">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title-custom" style="color: white" id="date">
                            <i data-feather="list"></i>
                            RETENUE SUR SALAIRE EN ATTENTE DE VALIDATION
                        </h5>
                    </div>
                    <div class="card-body">
                        <div id="dataGridRetenueSalaire"></div>
                        <div class="modal fade" id="validationConfirmationModal" tabindex="-1" role="dialog"
                             aria-labelledby="validationConfirmationModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="validationConfirmationModal">Confirmation de
                                            validation</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir valider les informations ci-dessous, après quoi vous ne pourriez plus les modifiés ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler
                                        </button>
                                        <button type="button" class="btn btn-success confirm" name="confirm"
                                                id="confirmValidationButton">
                                            Confirmer
                                        </button>
                                    </div>
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('validate_retenu_salaire') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="retenueSalaireValidation" name="retenueSalaireValidation" value="">
    </form>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            const dataGrids = $("#dataGridRetenueSalaire").dxDataGrid({
                dataSource: '{{ url("api_reporting_paie_retenue_salaire") }}',
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: 350,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: 'virtual'
                },
                editing: {
                    mode: 'cell'
                },
                selection: {
                    mode: 'multiple',
                    showCheckBoxesMode: 'always',
                    allowSelectAll: true
                },
                groupPanel: {
                    visible: true
                },
                grouping: {
                    autoExpandAll: true
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...'
                },
                paging: {
                    pageSize: 10
                },
                columns: [
                    {
                        caption: 'S/N',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'ordre'
                    },
                    {
                        caption: 'Date Opération',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_retenue'
                    },
                    {
                        caption: 'Emolument',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'retenue'
                    },
                    {
                        caption: 'Matricule',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'matricule_salarie'
                    },
                    {
                        caption: 'Nom',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'nom_salarie'
                    },
                    {
                        caption: 'Prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'prenom_salarie'
                    },
                    {
                        caption: 'Site',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'station_salarie'
                    },
                    {
                        caption: 'Retenue sur Brut',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'retenue_montant_brut'
                    },
                    {
                        caption: 'Retenue sur Net',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'retenue_montant_net'
                    },
                    {
                        caption: 'Statut',
                        alignment: 'center',
                        dataType: 'object',
                        dataField: 'retenue_status',
                        cellTemplate: function (container, options) {
                            const status = options.value;
                            let badgeClass = 'badge badge badge-soft-primary';
                            $("<span>")
                                .addClass(badgeClass)
                                .text(status)
                                .appendTo(container);
                        }
                    }
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'ordre',
                            summaryType: 'count',
                            displayFormat: 'Salariés : {0}'
                        },
                        {
                            column: 'station_salarie',
                            customizeText() {
                                return 'CUMUL :';
                            }
                        },
                        {
                            column: 'retenue_montant_brut',
                            summaryType: 'sum',
                            displayFormat: '{0}',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'retenue_montant_net',
                            summaryType: 'sum',
                            displayFormat: '{0}',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        }
                    ]
                },
                toolbar: {
                    items: [
                        {
                            location: 'after',
                            widget: 'dxButton',
                            options: {
                                text: 'Valider les retenues sur salaire',
                                icon: 'bi bi-journal-check',
                                disabled: false,
                                onClick() {
                                    $('#validationConfirmationModal').modal('show');
                                }
                            }
                        }
                    ]
                }
            }).dxDataGrid("instance");

            // Gérer le clic sur le bouton de confirmation dans le modal de validation
            $('#confirmValidationButton').click(function () {
                // Récupérer les éléments sélectionnés dans la grille de données
                const selectedKeys = dataGrids.getSelectedRowKeys();
                const retenue_salaire = [];

                selectedKeys.forEach((retenueSalaire) => {
                    if (retenueSalaire.hasOwnProperty('operation_id')) {
                        retenue_salaire.push(retenueSalaire.operation_id)
                    }
                })

                $('#retenueSalaireValidation').val(`[${retenue_salaire}]`)
                $('#formContainerRetenueSalaire').submit()
            });
        })
    </script>

{% endblock %}