{% extends 'base.html.twig' %}

{% block title %}ABSENCE{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridAbsence {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LISTE DES ABSENCES DE LA PERIODE DE {{ date|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridAbsence"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_absence_new') }}" class="btn btn-primary float-end" style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridAbsence").dxDataGrid({
                dataSource: `{{ url('personal_absence_api_absence') }}`,
                showBorders: true,
                height: 400,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true,
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('ABSENCE');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `Absence ${debut ?? " "} au ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'Matricule',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'matricule',
                    },
                    {
                        caption: 'Nom',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'name',
                    },
                    {
                        caption: 'Prénom(s)',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'last_name',
                    },
                    {
                        caption: 'Date de naissance',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_naissance',
                    },
                    {
                        caption: 'Catégorie salarié',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'categorie_salarie',
                    },
                    {
                        caption: 'Date d\'embauche',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_embauche',
                    },
                    {
                        caption: 'Type d\'absence',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'type_absence',
                    },
                    {
                        caption: 'Date départ',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_depart',
                    },
                    {
                        caption: 'Date retour',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_retour',
                    },
                    {
                        caption: 'Justificatif',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'status',
                        cellTemplate: function(container, options) {
                            var status = options.data.status;
                            var statusText = status === 'OUI' ? 'Apporter' : 'Non apporter';
                            var labelClass = status === 'OUI' ? 'bg-success' : 'bg-danger';

                            // Créer une structure HTML personnalisée pour la cellule
                            var htmlContent = '<span class="badge ' + labelClass + '">' + statusText + '</span>';

                            // Ajouter la structure HTML à la cellule
                            container.append(htmlContent);
                        },
                    },
                    {
                        caption: 'Description',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'description',
                    },
                    {
                        caption: 'Durée (Jour)',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'duree_jour',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Nouveau salaire catégoriel',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'nouveau_salaire_base',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Ajouté le',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_creation',
                    },
                    {
                        caption: 'Action',
                        dataField: 'modifier',
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $("<a title='modifier'>")
                                .html('<i data-feather="edit" style="color: #C9971C"></i>')
                                .attr("href", options.data.modifier)
                                .appendTo(container);
                            feather.replace();
                        },
                    },
                ],
            })
        })
    </script>

{% endblock %}
