<fieldset>
    <div class="row">
        <div class="col-10">
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label" for="example-placeholder">Intitulé <span
                            class="text-danger">*</span></label>
                <div class="col-md-8">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label" for="example-placeholder">Codification <span class="text-danger">*</span></label>
                <div class="col-md-8">
                    {{ form_widget(form.code) }}
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label" for="example-placeholder">Description </label>
                <div class="col-md-8">
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-md-2 col-form-label" for="example-placeholder">Montant (Fcfa) <span
                            class="text-danger">*</span></label>
                <div class="col-md-8">
                    {{ form_widget(form.value) }}
                </div>
            </div>
        </div>
    </div>
</fieldset>

