{% extends 'base.html.twig' %}

{% block title %}Livre de paie{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridCotisationMonth {
            height: 500px;
            border-width: 50px;

        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        ETAT RESUME DES COTISATIONS MENSUEL
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridCotisationMonth"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            let debut;
            let fin;

            function formatNumber(num) {
                return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            }

            $('#dataGridCotisationMonth').dxDataGrid({
                dataSource: `{{ url('api_reporting_declaration_cmu_current_month') }}`,
                showBorders: true,
                scrolling: {
                    mode: 'virtual',
                    columnRenderingMode: 'virtual'
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('Employees');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then((buffer) => {
                                saveAs(new Blob([buffer], {type: 'application /octet-stream'}), `Etat declaration fdfp ${moment(debut).format('DD/MM/Y')} au ${moment(fin).format('DD/MM/Y')}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                columns: [
                    {
                        dataField: "index",
                        dataType: "number",
                        caption: "N°Ordre",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        dataField: 'matricule',
                        dataType: 'string',
                        caption: 'Matricule',
                        alignment: 'left',
                        fixed: true,
                    },
                    {
                        dataField: 'num_cnps_assure',
                        dataType: 'string',
                        caption: 'N° CNPS assure',
                        alignment: 'left',
                        fixed: true,
                    },
                    {
                        dataField: 'num_sec_assure',
                        dataType: 'string',
                        caption: 'Numéro Sécurité sociale Assure',
                        alignment: 'left',
                    },
                    {
                        dataField: 'nom_assure',
                        dataType: 'string',
                        caption: 'Nom',
                        alignment: 'left',
                    },
                    {
                        dataField: 'pnom_assure',
                        dataType: 'string',
                        caption: 'Prénoms',
                        alignment: 'left',
                    },
                    {
                        dataField: 'birthday',
                        dataType: 'date',
                        caption: 'Date de naissance assure',
                        alignment: 'center',
                    },
                    {
                        dataField: 'num_cnps_benef',
                        dataType: 'string',
                        caption: 'Numéro CNPS Beneficiaire',
                        alignment: 'left',
                    },
                    {
                        dataField: 'num_sec_benef',
                        dataType: 'string',
                        caption: 'Numéro Sécurité sociale Beneficiaire',
                        alignment: 'left',
                    },
                    {
                        dataField: 'type_benef',
                        dataType: 'string',
                        caption: 'Type Beneficiaire',
                        alignment: 'center',
                    },
                    {
                        dataField: 'nom_benef',
                        dataType: 'string',
                        caption: 'Nom beneficiaire',
                        alignment: 'left',
                    },
                    {
                        dataField: 'pnom_benef',
                        dataType: 'string',
                        caption: 'Prénom beneficiaire',
                        alignment: 'left',
                    },
                    {
                        dataField: 'birthday_benef',
                        dataType: 'date',
                        caption: 'Date de naissance beneficiaire',
                        alignment: 'center',
                    },
                    {
                        dataField: 'genre_benef',
                        dataType: 'string',
                        caption: 'Genre beneficiaire',
                        alignment: 'center',
                    },
                ],
            });
        });
    </script>
{% endblock %}