{% extends 'base.html.twig' %}

{% block title %}Regularisation (Moins / Plus) perçus{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridOperation {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LISTE DES REMBOURSEMENTS & RETENUES SUR LA PERIODE DE {{ date|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div id="dataGridOperation"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('dev_paie_operation_new') }}"
                       class="btn btn-primary float-end" style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();

            $("#dataGridOperation").dxDataGrid({
                dataSource: `{{ url('dev_paie_operation_api_operation') }}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                rowAlternationEnabled: true,
                height: 350,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                selection: {
                    mode: 'multiple',
                    showCheckBoxesMode: 'always'
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('OPERATION REMBOURSEMENTS & RETENUES');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `Remboursement & retenue du ${year}-${month < 10 ? '0' : ''}${month}-${day}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                columns: [
                    {
                        caption: 'Date Opération',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_operation',
                    },
                    {
                        caption: 'Matricule',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'personal_matricule',
                    },
                    {
                        caption: 'Nom & Prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'personal_fullname',
                    },
                    {
                        caption: 'Type Opération',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'type_operation',
                    },
                    {
                        caption: 'Montant Brut',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'amount_brut',
                    },
                    {
                        caption: 'Montant Net',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'amount_net',
                    },
                    {
                        caption: 'Actions',
                        dataField: 'modifier',
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            const status = options.data.status;
                            if (status === 'EN ATTENTE') {
                                $("<a title='modifier'>")
                                    .html('<i data-feather="edit" style="color: #C9971C"></i>')
                                    .attr("href", options.data.modifier)
                                    .appendTo(container);
                                feather.replace();
                            } else {

                            }
                        },
                    },
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'personal_matricule',
                            summaryType: 'count',
                            displayFormat: 'Salariés : {0}'
                        },
                        {
                            column: 'type_operation',
                            displayFormat: 'CUMUL :'
                        },
                        {
                            column: 'amount_brut',
                            summaryType: 'sum',
                            displayFormat: '{0}',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'amount_net',
                            summaryType: 'sum',
                            displayFormat: '{0}',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                    ]
                }
            })
        })
    </script>

{% endblock %}
