{% extends 'base.html.twig' %}

{% block title %}Livre de paie{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridDisa {
            height: 500px;
            border-width: 50px;

        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        ETAT DES DECLARATIONS DES SALAIRES ANNUELS (DISA) POUR L'ANNEE {{ annee }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridDisa">Cliquer sur recherche pour afficher le tableau</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            let debut;
            let fin;

            function formatNumber(num) {
                return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            }

            $('#dataGridDisa').dxDataGrid({
                dataSource: `{{ url('api_reporting_declaration_disa_current_year') }}`,
                showBorders: true,
                scrolling: {
                    mode: 'virtual',
                    columnRenderingMode: 'virtual'
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('Employees');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then((buffer) => {
                                saveAs(new Blob([buffer], {type: 'application /octet-stream'}), `Etat declaration individuelle des salaires annuels DISA {{annee}}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                columns: [
                    {
                        dataField: "index",
                        dataType: "number",
                        caption: "N°Ordre",
                        alignment: "center",
                        fixed: true,
                    },
                    {
                        dataField: 'matricule',
                        dataType: 'string',
                        caption: 'Matricule',
                        alignment: 'left',
                        fixed: true,
                    },
                    {
                        dataField: 'nom&prenoms',
                        dataType: 'string',
                        caption: 'Nom & prénoms',
                        alignment: 'left',
                        fixed: true,
                    },
                    {
                        dataField: 'num_cnps',
                        dataType: 'string',
                        caption: 'Numéro CNPS',
                        alignment: 'center',
                    },
                    {
                        dataField: 'birthday',
                        dataType: 'string',
                        caption: 'Année de naissance',
                        alignment: 'center',
                    },
                    {
                        dataField: 'hire_day',
                        dataType: 'date',
                        caption: 'Date d\'embauche',
                        alignment: 'center',
                    },
                    {
                        dataField: 'Dismiss_day',
                        dataType: 'date',
                        caption: 'Date de depart',
                        alignment: 'center',
                    },
                    {
                        dataField: 'type_salarie',
                        dataType: 'string',
                        caption: 'Type Salarié',
                        alignment: 'center',
                    },
                    {
                        dataField: "salary_brut_annuel",
                        dataType: 'number',
                        caption: 'Salaire brut',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        dataField: "work_month",
                        dataType: 'number',
                        caption: 'Duree travaillee',
                        alignment: 'center',
                    },
                    {
                        dataField: "salary_with_pf_at",
                        dataType: 'number',
                        caption: 'Montant PF/AT',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        dataField: "salary_with_retraite",
                        dataType: 'number',
                        caption: 'Montant retraite',
                        alignment: 'right',
                        summaryType: 'sum',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        dataField: "choice_sociale",
                        dataType: 'string',
                        caption: 'Regime',
                        alignment: 'center',
                    },
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'index',
                            summaryType: "count",
                            customizeTex() {
                                return 'Salariés';
                            }

                        },
                        {
                            column: 'salary_with_retraite', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            },
                        },
                        {
                            column: 'salary_brut_annuel', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            },
                        },
                        {
                            column: 'salary_with_pf_at', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            },
                        },
                    ],
                }
            });
        });
    </script>
{% endblock %}