{% extends 'base.html.twig' %}

{% block title %}Etat des versement de salaire en espece {% endblock %}
{% block stylesheets %}
    <style>
        #dataGridCaisse {
            border-width: 50px;
            height: 350px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white" id="date">
                        <i data-feather="list"></i>
                        SALAIRES ESPECES DE {{ periode|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridCaisse"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {

            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();

            $("#dataGridCaisse").dxDataGrid({
                dataSource: `{{ url('api_reporting_etat_versement_caisse') }}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual",
                },
                selection: {
                    mode: "multiple",
                    allowSelectAll: true,
                    showCheckBoxesMode: "always"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('SALAIRE ESPECE');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `SALAIRE ESPECE ${year}-${month < 10 ? '0' : ''}${month}-${day}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'S/N',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'ordre'
                    },
                    {
                        caption: 'EMMOLUMENTS',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'emmolution'
                    },
                    {
                        caption: 'NOM',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'name_salaried'
                    },
                    {
                        caption: 'STATIONS',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'stations'
                    },
                    {
                        caption: 'MONTANT',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'salaire_net',

                    },
                    {
                        caption: 'PERIODE',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'periode'
                    },
                    {
                        caption: 'EMARGEMENT',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'emargement'
                    },
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'ordre',
                            summaryType: 'count',
                            displayFormat: 'Salariés : {0}'
                        },
                        {
                            column: 'stations',
                            customizeText() {
                                return 'Cumul : '
                            }
                        },
                        {
                            column: 'salaire_net', summaryType: 'sum', customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },

                        },
                    ],
                }
            })
        })
    </script>

{% endblock %}