<div class="mb-2 row">
    <label class="col-md-1 control-label" for="start_at">Période du <span
                class="text-danger">*</span></label>
    <div class="col-md-3">
        <input type="date" name="start_at" id="start_at" class="form-control form-control-sm"
               required>
    </div>
    <label class="col-md-1 control-label" for="end_at">au <span
                class="text-danger">*</span></label>
    <div class="col-md-3 clearfix">
        <input type="date" name="end_at" id="end_at" class="form-control form-control-sm"
               required>
    </div>
    <label class="col-md-1 control-label" for="personalsId">Personnel </label>
    <div class="col-md-3">
        <select name="personalsId" id="personalsId" placeholder="Sélectionner personal"
                class="form-select form-select-sm full-width-fix">
            <option value="" selected></option>
            <option value="">Tous</option>
            {% for p in personals %}
                <option value="{{ p.id }}">{{ p.firstName|capitalize }} {{ p.lastName|capitalize }}</option>
            {% endfor %}
        </select>
    </div>
</div>

