{% extends 'base.html.twig' %}

{% block title %}Etat des versement de salaire {% endblock %}
{% block stylesheets %}
    <style>
        #dataGridVirement {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        ETAT DES VIREMENTS DE {{ date|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridVirement"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridVirement").dxDataGrid({
                dataSource: `{{ url('api_reporting_etat_virements') }}`,
                showBorders: true,
                height: 400,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('ETAT DES VIREMENTS');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `ETAT DES VIREMENTS ${debut ?? " "} au ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'Nom',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'name_salaried'
                    },
                    {
                        caption: 'Prenoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'second_name_salaried'
                    },
                    {
                        caption: 'Banque',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'banques',


                    },
                    {
                        caption: 'Guichet',
                        alignment:'center',
                        dataType: 'string',
                        dataField: 'guichets'
                    },
                    {
                        caption: 'Compte',
                        alignment:'center',
                        dataType: 'string',
                        dataField:'comptes'
                    },
                    {
                        caption: 'Clé',
                        alignment:'center',
                        dataType: 'string',
                        dataField: 'cles'
                    },
                    {
                        caption: 'Type versement',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'versement_mode'
                    },
                    {
                        caption: 'Net à verser',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'salaire_net',
                        customizeText: (data) => {
                            return new Intl.NumberFormat('fr-FR').format(data.value)
                        },
                    }
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'versement_mode',
                            customizeText() {
                                return 'Total net à verser :'
                            }
                        },
                        {
                            column: 'salaire_net', summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            },
                        },
                    ],
                }
            })
        })
    </script>

{% endblock %}