{% extends 'base.html.twig' %}

{% block title %}Salaire inverse{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <form class="form-horizontal" method="post" action="{{ path('salaire_inverse_net_inverser') }}">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title-custom" style="color: white">
                            <i data-feather="list"></i>
                            SALAIRE INVERSE
                        </h5>
                    </div>
                    <div class="card-body">
                        {{ include('dev_paie/salaire_inverse/form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <button type="submit"
                                class="btn btn-primary float-end">Inverser</button>
                        <a href="{{ path('app_home') }}"
                           class="btn btn-info float-end me-2" style="color: white">Retour</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}