{% extends 'base.html.twig' %}

{% block title %}LISTE DU PERSONNEL{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridPrimeIndemnite {
            height: 400px;
            border-width: 50px;

        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        PRIMES ET INDEMNITES DU {{ mois }} MOIS DE L'ANNEE {{ annee }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridPrimeIndemnite"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridPrimeIndemnite").dxDataGrid({
                dataSource: `{{ url('api_reporting_prime_indemnite') }}`,
                showBorders: true,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    height: 400,
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('PRIMES ET INDEMNITE');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            columnWidths: [55, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `PRIMES ET INDEMNITES ${debut ?? " "} au ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        fixed: true
                    },
                    {
                        caption: 'Nom et prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'fullName',
                        fixed: true
                    },
                    {
                        caption: 'Prime et indemnité nom imposable',
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'Prime de transport',
                                dataType: 'number',
                                dataField: 'prime_transport',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime de panier',
                                dataType: 'number',
                                dataField: 'prime_panier',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime de salissure',
                                dataType: 'number',
                                dataField: 'prime_salissure',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime d\'outillage',
                                dataType: 'number',
                                dataField: 'prime_outillage',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime de tenue de travail',
                                dataType: 'number',
                                dataField: 'prime_tenue_travail',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                        ],
                    },
                    {
                        caption: 'Prime de fonction',
                        dataType: 'number',
                        dataField: 'prime_fonction',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Prime de logement',
                        dataType: 'number',
                        dataField: 'prime_logement',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Avantage en nature',
                        dataType: 'number',
                        dataField: 'aventage_nature',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Prime d\'ancienneté',
                        dataType: 'number',
                        dataField: 'prime_anciennete',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                ],
            })
        })
    </script>

{% endblock %}