{% extends 'base.html.twig' %}

{% block title %}PRIMES ET INDEMNITES PERSONNELS{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridPrimeIndemnite {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LISTE DES PRIMES ET INDEMNITES PAR SALARIES SUR LA PERIODE DE {{ date|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridPrimeIndemnite"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();
            $("#dataGridPrimeIndemnite").dxDataGrid({
                dataSource: `{{ url('api_reporting_prime_indemnite') }}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                rowAlternationEnabled: true,
                height: 355,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('PRIMES ET INDEMNITES');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `Primes et Indemnités sdu  ${year}-${month < 10 ? '0' : ''}${month}-${day}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        fixed: true
                    },
                    {
                        caption: 'Nom & Prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'fullName',
                        fixed: true
                    },
                    {
                        caption: 'Prime & Indemnité nom Imposable',
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'Prime Transport Légal',
                                dataType: 'number',
                                dataField: 'prime_transport',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Panier',
                                dataType: 'number',
                                dataField: 'prime_panier',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Salissure',
                                dataType: 'number',
                                dataField: 'prime_salissure',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Outillage',
                                dataType: 'number',
                                dataField: 'prime_outillage',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Tenue Travail',
                                dataType: 'number',
                                dataField: 'prime_tenue_travail',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Rendement',
                                dataType: 'number',
                                dataField: 'prime_rendement',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Avantage Nature',
                                dataType: 'number',
                                dataField: 'aventage_nature',
                                alignment: 'right',
                                width: 120,
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                        ],
                    },
                    {
                        caption: 'Prime & Indemnité Imposable',
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'Prime Fonction',
                                dataType: 'number',
                                dataField: 'prime_fonction',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Logement',
                                dataType: 'number',
                                dataField: 'prime_logement',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Transport Imposable',
                                dataType: 'number',
                                dataField: 'primeTransport_imposable',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Indemnite Fonction',
                                dataType: 'number',
                                dataField: 'indemnite_fonction',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Indemnite Logement',
                                dataType: 'number',
                                dataField: 'indemnite_logement',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Avantage Nature Imposable',
                                dataType: 'number',
                                dataField: 'aventage_nature_imposable',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            },
                            {
                                caption: 'Prime Ancienneté',
                                dataType: 'number',
                                dataField: 'prime_anciennete',
                                alignment: 'right',
                                customizeText: function (data) {
                                    return new Intl.NumberFormat('fr-FR').format(data.value);
                                },
                            }
                        ]
                    },
                ],
            })
        })
    </script>

{% endblock %}