<fieldset>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Intitulé <span class="text-danger">*</span></label>
        <div class="col-md-6">
            {{ form_widget(form.intitule) }}
        </div>
    </div>
    <div class="mb-2 row">
        <label class="col-md-2 col-form-label">Codification <span class="text-danger">*</span></label>
        <div class="col-md-6">
            {{ form_widget(form.codification) }}
        </div>
    </div>
</fieldset>
