<div class="mb-2 row">
    <label class="col-md-2 col-form-label">Catégorie<span
                class="text-danger">*</span></label>
    <div class="col-md-4">
        {{ form_widget(form.categorie) }}
    </div>
    <label class="col-md-2 col-form-label">Niveau de formation <span
                class="text-danger">*</span></label>
    <div class="col-md-4">
        {{ form_widget(form.niveauFormation) }}
    </div>
</div>