<fieldset>
    <div class="mb-2 row">
        <label class="col-md-1 col-form-label">Adresse </label>
        <div class="col-md-3">
            {{ form_widget(form.address) }}
        </div>
        <label class="col-md-1 col-form-label">Téléphone </label>
        <div class="col-md-3">
            {{ form_widget(form.telephone) }}
        </div>
        <label class="col-md-1 col-form-label">E-mail </label>
        <div class="col-md-3">
            {{ form_widget(form.email) }}
        </div>
    </div>
</fieldset>