{% extends 'base.html.twig' %}

{% block title %}LISTE DU PERSONNEL{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridPersonal {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LISTE DU PERSONNEL
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridPersonal"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_new') }}" class="btn btn-primary float-end"
                       style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
    <form id="personalEnable" method="POST" action="/dossier/personal/enable">
        <input id="personalEnableInput" type="hidden" name="personalEnableInput">
    </form>
    <form id="personalDisable" method="POST" action="/dossier/personal/disable">
        <input id="personalDisableInput" type="hidden" name="personalDisableInput">
    </form>
    <form id="toggleAll" method="POST" action="/dossier/personal/toggle/all">
        <input id="toggleAllInput" type="hidden" name="toggleAllInput">
    </form>
  
    <input id="statusPersonnal" type="hidden" name="statusPersonnal" value="{{status}}">




{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();

            $("#dataGridPersonal").dxDataGrid({
                dataSource: `{{ url('personal_salaried_book') }}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                rowAlternationEnabled: true,
                height: 355,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('LISTE DU PERSONNEL');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `LISTE DU PERSONNEL DU ${year}-${month < 10 ? '0' : ''}${month}-${day}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        fixed: true
                    },
                    {
                        caption: 'Matricule',
                        dataType: 'string',
                        dataField: 'matricule',
                        alignment: 'center',
                        fixed: true
                    },
                    {
                        caption: 'Nom et Prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'full_name',
                        fixed: true
                    },
                    {
                        caption: 'Date Naissance',
                        dataType: 'string',
                        dataField: 'date_naissance',
                        alignment: 'center',
                    },
                    {
                        caption: 'Site',
                        dataType: 'string',
                        dataField: 'departement',
                        alignment: 'left',
                    },
                    {
                        caption: 'Fonction',
                        dataType: 'string',
                        dataField: 'fonction',
                        alignment: 'left',
                    },
                    {
                        caption: 'Type Contrat',
                        dataType: 'string',
                        dataField: 'type_contract',
                        alignment: 'center',
                    },
                    {
                        caption: 'Date Embauche',
                        dataType: 'string',
                        dataField: 'date_embauche',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Durée Contrat (en mois)',
                        dataType: 'number',
                        dataField: 'anciennete_mois',
                        alignment: 'center',
                    },
                    {
                        caption: 'Numéro CNPS',
                        dataType: 'string',
                        dataField: 'numero_cnps',
                        alignment: 'left',
                    },
                    {
                        caption: 'Catégorie',
                        dataType: 'string',
                        dataField: 'category',
                        alignment: 'left',
                    },
                    {
                        caption: 'Grade Catégoriel',
                        dataType: 'string',
                        dataField: 'category_grade',
                        alignment: 'center',
                    },
                    {
                        caption: 'Salaire Catégoriel (Fcfa)',
                        dataType: 'number',
                        dataField: 'salaire_base',
                        alignment: 'right',
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Mode Paiement',
                        dataType: 'string',
                        dataField: 'mode_paiement',
                        alignment: 'left',
                    },
                    {
                        caption: 'Actions',
                        alignment: 'center',
                        columns: [
                            {
                                headerCellTemplate: $('#statusPersonnal').val()?  $('<div class="form-check form-switch mx-5"><input class="form-check-input toggle-personal-all" type="checkbox" id="toggleAllPersonals" checked value="off"> <label class="form-check-label" for="toggleAllPersonal"></label> </div>'):$('<div class="form-check form-switch mx-5"><input class="form-check-input toggle-personal-all" type="checkbox" id="toggleAllPersonals" value="on"> <label class="form-check-label" for="toggleAllPersonal"></label> </div>'),

                                columns: [
                                    {
                                        dataField: 'active',
                                        caption: 'Activer/Desactiver',
                                        alignment: 'center',
                                        cellTemplate: function (container, options) {
                                            if (options.data.active === true) {
                                                $(`<div class="form-check form-switch mx-5">`)
                                                    .html(`<input class="form-check-input toggle-disable " type="checkbox" id="disablePersonal${options.data.personal_id}" checked="checked" value="${options.data.personal_id}"> <label class="form-check-label" for="disablePersonal${options.data.personal_id}"></label> </div>`)
                                                    .appendTo(container);
                                                feather.replace();
                                            } else {
                                                $(`<div class="form-check form-switch mx-5">`)
                                                    .html(`<input class="form-check-input toggle-enable" type="checkbox" id="enablePersonal${options.data.personal_id}" value="${options.data.personal_id}"> <label class="form-check-label" for="enablePersonal${options.data.personal_id}"></label> </div>`)
                                                    .appendTo(container);
                                                feather.replace();
                                            }

                                        }
                                    }
                                ]
                            },
                            {
                                dataField: 'modifier',
                                caption: 'Modifier',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="edit" style="color: #C9971C"></i>')
                                        .attr("href", options.data.modifier)
                                        .appendTo(container);
                                    feather.replace();
                                }
                            },
                            {
                                dataField: 'action',
                                caption: 'Imprimer',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="printer" style="color: #0b0b0f"></i>')
                                        .attr("href", options.data.action)
                                        .attr("target", '_blank')
                                        .appendTo(container);
                                    feather.replace();
                                }
                            },
                        ],
                        
                        width: 120
                    }
                ],
            })
        })
    

    $(document).ready(function(){

        $data = $('#toggleAllPersonals').val();
        console.log("data:"+$data);

    });
    </script>

{% endblock %} 