{% extends 'base.html.twig' %}

{% block title %}LISTE DU PERSONNEL{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridPersonal {
            height: 400px;
            border-width: 50px;

        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LISTE DU PERSONNEL
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridPersonal"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_new') }}" class="btn btn-primary float-end"
                       style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridPersonal").dxDataGrid({
                dataSource: `{{ url('personal_salaried_book') }}`,
                showBorders: true,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    height: 400,
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('Livre des salariés');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            columnWidths: [55, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `Livre des salariés ${debut ?? " "} au ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        width: 80,
                        fixed: true
                    },
                    {
                        caption: 'Nom et prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'full_name',
                        width: 120,
                        fixed: true
                    },
                    {
                        caption: 'Matricule',
                        dataType: 'string',
                        dataField: 'matricule',
                        alignment: 'center',
                        width: 120,
                        fixed: true
                    },
                    {
                        caption: 'Date d\'embauche ou \n de recrutement',
                        dataType: 'date',
                        dataField: 'date_embauche',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Fonction',
                        dataType: 'string',
                        dataField: 'fonction',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Département ou \n service',
                        dataType: 'string',
                        dataField: 'departement',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Catégorie',
                        dataType: 'string',
                        dataField: 'category',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Date de naissance',
                        dataType: 'date',
                        dataField: 'date_naissance',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Adresse',
                        dataType: 'string',
                        dataField: 'adresse',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Diplôme',
                        dataType: 'string',
                        dataField: 'niveau_etude',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'N° Compte banque',
                        dataType: 'string',
                        dataField: 'compte_banque',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Salaire de base',
                        dataType: 'number',
                        dataField: 'salaire_base',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Type de contrat',
                        dataType: 'string',
                        dataField: 'type_contract',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Durée du contrat \n (en mois)',
                        dataType: 'number',
                        dataField: 'anciennete_mois',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Nom de la banque',
                        dataType: 'string',
                        dataField: 'nom_banque',
                        alignment: 'left',
                        width: 120
                    },
                    {
                        caption: 'Grade catégoriel',
                        dataType: 'string',
                        dataField: 'category_grade',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Nature et N° de la pièce \n d\'identité',
                        dataType: 'string',
                        dataField: 'nature_piece',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Numéro CNPS',
                        dataType: 'string',
                        dataField: 'numero_cnps',
                        alignment: 'center',
                        width: 120
                    },
                    {
                        caption: 'Action',
                        alignment: 'center',
                        columns:[
                            {
                                dataField: 'action',
                                caption: 'Imprimer',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="printer"></i>')
                                        .attr("href", options.data.action)
                                        .attr("target", '_blank')
                                        .appendTo(container);
                                    feather.replace();
                                }
                            },
                            {
                                dataField: 'modifier',
                                caption: 'Modifier',
                                alignment: 'center',
                                cellTemplate: function (container, options) {
                                    $("<a>")
                                        .html('<i data-feather="edit" style="color: yellow"></i>')
                                        .attr("href", options.data.modifier)
                                        .attr("target", '_blank')
                                        .appendTo(container);
                                    feather.replace();
                                }
                            },
                        ],
                        width: 120
                    }
                ],
            })
        })
    </script>

{% endblock %}