{% extends 'base.html.twig' %}

{% block title %}LIVRE DE MAJORATIONS DES HEURS SUP SUR PAR TRANCHE {% endblock %}
{% block stylesheets %}
    <style>
        #dataGridSupp {
            height: 400px;
            border-width: 50px;

        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LIVRE DE MAJORATIONS DES HEURES SUP DU {{ mois }} MOIS DE L'ANNEE {{ annee }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridSupp"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_heure_sup_new') }}" class="btn btn-primary float-end"
                       style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridSupp").dxDataGrid({
                dataSource: `{{ url('personal_heure_sup_api_heure_supp_super_book') }}`,
                showBorders: true,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    height: 400,
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('Livre des heures supplémentaire');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            columnWidths: [55, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `Livre des heures supplémentaire ${debut ?? " "} au ${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        width: 80,
                        fixed: true
                    },
                    {
                        caption: 'Nom et prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'full_name',
                        width: 120,
                        fixed: true
                    },
                    {
                        caption: 'Heures Normales',
                        dataType: 'number',
                        dataField: 'heure_normal',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Total Des Heures',
                        dataType: 'number',
                        dataField: 'total_heure',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 15% (41è à 46è heure)',
                        dataType: 'number',
                        dataField: 'heure_15_%',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 50% (47è heure et plus)',
                        dataType: 'number',
                        dataField: 'heure_50_%',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 75% (heure de nuit)',
                        dataType: 'number',
                        dataField: 'heure_75_%_nuit',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 75% (Dimanche et fériés de jour)',
                        dataType: 'number',
                        dataField: 'heure_75_%_jour',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 100% (Dimanche et fériés de nuit)',
                        dataType: 'number',
                        dataField: 'heure_100_%_nuit',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Salaire Horaire',
                        dataType: 'number',
                        dataField: 'taux_horaire',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Montant majoration',
                        dataType: 'number',
                        dataField: 'montant_heure_supp',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Statut',
                        dataType: 'string',
                        dataField: 'status',
                        alignment: 'left',
                        width: 120,
                    },
                ],
            })
        })
    </script>

{% endblock %}