{% extends 'base.html.twig' %}

{% block title %}Récapitulatif des majoration heure supp de la periode | {{ date|capitalize }} {% endblock %}
{% block stylesheets %}
    <style>
        #dataGridSupp {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        RECAPITULATIF DE MAJORATIONS DES HEURES SUPP PAR TRANCHE SUR LA PERIODE DE {{ date|upper }}
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridSupp"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_heure_sup_new') }}" class="btn btn-primary float-end"
                       style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();
            $("#dataGridSupp").dxDataGrid({
                dataSource: `{{ url('personal_heure_sup_api_heure_supp_super_book') }}`,
                showBorders: true,
                rowAlternationEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: 355,
                selection: {
                  mode: "multiple",
                  allowSelectAll: true,
                  showCheckBoxesMode: "always"
                },
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('RECAPITULATIF DE MAJORATION DES HEURES SUPP');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `RECAPITULATIF DE MAJORATION DES HEURES SUPP ${year}-${month < 10 ? '0' : ''}${month}-${day}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                columns: [
                    {
                        caption: 'N°Ordre',
                        alignment: 'center',
                        dataType: 'number',
                        dataField: 'index',
                        width: 80,
                        fixed: true
                    },
                    {
                        caption: 'Nom et Prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'full_name',
                        width: 120,
                        fixed: true
                    },
                    {
                        caption: 'Heures Normales',
                        dataType: 'number',
                        dataField: 'heure_normal',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Total Heures',
                        dataType: 'number',
                        dataField: 'total_heure',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 15% (41è à 46è heure)',
                        dataType: 'number',
                        dataField: 'heure_15_%',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 50% (47è heure et plus)',
                        dataType: 'number',
                        dataField: 'heure_50_%',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 75% (heure de nuit)',
                        dataType: 'number',
                        dataField: 'heure_75_%_nuit',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 75% (Dimanche et fériés de jour)',
                        dataType: 'number',
                        dataField: 'heure_75_%_jour',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Heures à 100% (Dimanche et fériés de nuit)',
                        dataType: 'number',
                        dataField: 'heure_100_%_nuit',
                        alignment: 'center',
                        width: 120,
                    },
                    {
                        caption: 'Salaire Horaire',
                        dataType: 'number',
                        dataField: 'taux_horaire',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Montant Majoration',
                        dataType: 'number',
                        dataField: 'montant_heure_supp',
                        alignment: 'right',
                        width: 120,
                        customizeText: function (data) {
                            return new Intl.NumberFormat('fr-FR').format(data.value);
                        },
                    },
                    {
                        caption: 'Statut',
                        dataType: 'string',
                        dataField: 'status',
                        alignment: 'left',
                        width: 120,
                    },
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'taux_horaire',
                            customizeText() {
                                return 'Cumul majoration :'
                            }
                        },
                        {
                            column: 'montant_heure_supp'
                            , summaryType: 'sum',
                            customizeText: (data) => {
                                return new Intl.NumberFormat('fr-FR').format(data.value)
                            },
                        }
                    ]
                }
            })
        })
    </script>

{% endblock %}