<form method="post" action="{{ path('app_dossier_personal_account_bank_delete', {'id': account_bank.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account_bank.id) }}">
    <button class="btn">Delete</button>
</form>
