{% extends 'base.html.twig' %}

{% block title %}Liste des banques des salariés{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridAccountBank {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        Liste salariés & comptes bancaires
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridAccountBank"></div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('personal_account_bank_new') }}" class="btn btn-primary float-end"
                       style="color: white">Nouveau</a>
                    <a href="{{ path('app_home') }}"
                       class="btn btn-info float-end me-2" style="color: white">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            const date = new Date();
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();

            $("#dataGridAccountBank").dxDataGrid({
                dataSource: `{{ url('personal_account_bank_api_account_bank') }}`,
                showBorders: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                height: 400,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                selection: {
                    mode: "multiple",
                    allowSelectAll: true,
                    showCheckBoxesMode: "always"
                },
                groupPanel: {
                    visible: true,
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('BANQUE SALARIE');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `BANQUE SALARIE ${year}-${month < 10 ? '0' : ''}${month}-${day}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                columns: [
                    {
                        caption: 'Matricule',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'matricule',
                    },
                    {
                        caption: 'Nom',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'name',
                    },
                    {
                        caption: 'Prénom(s)',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'last_name',
                    },
                    {
                        caption: 'Date Naissance',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_naissance',
                    },
                    {
                        caption: 'Catégorie Salarié',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'categorie_salarie',
                    },
                    {
                        caption: 'Date Embauche',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_embauche',
                    },
                    {
                        caption: 'Intitulé  Banque',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'nom_banque',
                    },
                    {
                        caption: 'Code Banque',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'code_banque',
                    },
                    {
                        caption: 'Code Agence',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'code_agence',
                    },
                    {
                        caption: 'N° Compte',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'number_compte',
                    },
                    {
                        caption: 'Rib',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'rib',
                    },
                    {
                        caption: 'Ajouté le',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_creation',
                    },
                    {
                        caption: 'Action',
                        dataField: 'modifier',
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $("<a title='modifier'>")
                                .html('<i data-feather="edit" style="color: #C9971C"></i>')
                                .attr("href", options.data.modifier)
                                .appendTo(container);
                            feather.replace();
                        },
                    },
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'matricule',
                            summaryType: 'count',
                            displayFormat: 'Salariés : {0}'
                        }
                    ]
                }
            })
        })
    </script>

{% endblock %}
