<form method="post" action="{{ path('app_dossier_personal_charge_personal_delete', {'id': charge_personal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ charge_personal.id) }}">
    <button class="btn">Delete</button>
</form>
