{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridCategoryProfessional {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        LISTE DE TEMPS DE TRAVAIL
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div id="dataGridListeTempsTravail"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('work_time_normal_new') }}"
                       class="btn btn-primary float-end" style="color: white">Nouveau</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {
            let debut;
            let fin;
            $("#dataGridListeTempsTravail").dxDataGrid({
                dataSource: `{{ url('work_time_supplementaire_api') }}`,
                showBorders: true,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: "virtual"
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('LISTE TEMPS DE TRAVAIL');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value)
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `Liste-temps-${debut ?? " "}-au-${fin ?? " "}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                showColumnLines: true,
                showRowLines: true,
                paging: {
                    pageSize: 10,
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'Type temps de trvail',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'type',
                    },
                    {
                        caption: 'Temps de travail (Heure/jour)',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'hourValue',
                    },
                    {
                        caption: 'Taux (%)',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'rateValue',
                    },
                    {
                        caption: 'Action',
                        dataField: 'modifier',
                        alignment: 'center',
                        cellTemplate: function (container, options) {
                            $("<a title='modifier'>")
                                .html('<i data-feather="edit" style="color: #C9971C"></i>')
                                .attr("href", options.data.modifier)
                                .appendTo(container);
                            feather.replace();
                        },
                    },
                ],
            })
        })
    </script>

{% endblock %}
