<h1>Bienvenue !</h1>
<p>Vous êtes inscrit en tant que {{ user.email }} sur Orbis Paie avec les identifiants suivants :</p>
<p> Username : <strong>{{ user.username }}</strong> <br>
    Password : <strong>{{ plain_password }}</strong>
</p>
<p><strong>NB: N'hesitez pas à les modifier</strong></p>
<p class="text-center">© {{ 'now'|date('Y') }} Orbis Paie. Développé par Offset Consulting</p>
