<div class="card text-center border-0 m-0">
  <div class="card-header h1 m-0 p-0" style="color:white;">
    ORBIS-PAIE
  </div>
  <div class="card-body mt-3">
    <h5 class="card-title mt-3" style="background-color:transparent;color:black;font-size:100px"><i class="bi bi-lock"></i></h5>
    <h5 class="card-title mt-3" style="background-color:transparent;color:red;font-size:50px">
        ACCES REFUSE
    </h5>
    <p class="card-text h6"><span class="text-danger"> NB:</span> Veillez contacter s'il vous plait l'administrateur pour une assistance ou essayer de rafraichir la page.</p>
    <a href="{{path('app_logout' )}}" class="btn btn-primary mt-4 text-white">Connecter vous avec un autre identifiant</a>
  </div>
</div>