<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Orbis Paie | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body class="loading dx-viewport" data-layout-mode="horizontal"
      data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "light"}, "showRightSidebarOnPageLoad": true}'>

<!-- Begin page -->
<div id="wrapper">
    {% if is_granted('ROLE_USER') and is_granted('ROLE_RH') %}
        {% include 'partials/_header.html.twig' %}
        {% include 'partials/Admin_Rh/_admin_top_bar.html.twig' %}
    {% endif %}
    {% if is_granted('ROLE_RH_ADJOINT') %}
        {% include 'partials/_header.html.twig' %}
        {% include 'partials/Rh_Adjoint/_top_bar.html.twig' %}
    {% endif %}

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box"></div>
                    </div>
                </div>
                <!-- end page title -->
                {% block body %}{% endblock %}
            </div> <!-- container -->
        </div> <!-- content -->
        {% include 'partials/_footer.html.twig' %}

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
<!-- Vendor js -->
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>