{% extends 'base.html.twig' %}

{% block title %}Acompte / Prêt {% endblock %}
{% block stylesheets %}
    <style>
        #dataGridAcompte {
            border-width: 50px;
            height: 350px;
        }
    </style>
{% endblock %}
{% block body %}
    <form method="POST" action="{{ path('app_paiement_acompte_validate') }}" id="formContainerAcompte">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title-custom" style="color: white" id="date">
                            <i data-feather="list"></i>
                            PRET / ACOMPTE
                        </h5>
                    </div>
                    <div class="card-body">
                        <div id="dataGridAcompte"></div>
                        <div class="modal fade" id="validationConfirmationModal" tabindex="-1" role="dialog"
                             aria-labelledby="validationConfirmationModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="validationConfirmationModal">Confirmation de
                                            validation</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir valider les prêts / ou acomptes ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler
                                        </button>
                                        <button type="button" class="btn btn-success confirm" name="confirm"
                                                id="confirmValidationButton">
                                            Confirmer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="acompteInput" name="acompteInput" value="">
    </form>
{% endblock %}

{% block javascripts %}

    <script>
        function formatNumber(num) {
            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        $(document).ready(function () {

            const date = new Date();
            // const year = date.getFullYear();
            // const month = date.getMonth() + 1;
            //  const day = date.getDate();

            const dataGrid = $("#dataGridAcompte").dxDataGrid({
                dataSource: '{{ url("app_paiement_acompte_api_pending") }}',
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                scrolling: {
                    columnRenderingMode: 'virtual',
                    mode: 'virtual'
                },
                editing: {
                    mode: 'cell'
                },
                selection: {
                    mode: 'multiple',
                    showCheckBoxesMode: 'always'
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx']
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('Acompte ou prêt');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                            customizeCell: function (options) {
                                const {gridCell, excelCell} = options;
                                if (gridCell.rowType === 'data' && typeof gridCell.value === "number") {
                                    excelCell.text = formatNumber(gridCell.value);
                                    excelCell.font = {size: 9};
                                    excelCell.alignment = {horizontal: 'left'};
                                }
                            }
                        }).then(() => {
                            const date = new Date();
                            const year = date.getFullYear();
                            const month = date.getMonth() + 1;
                            const day = date.getDate();
                            const dateFormat = `${year}-${month < 10 ? '0' : ''}${month}-${day < 10 ? '0' : ''}${day}`;
                            workbook.xlsx.writeBuffer().then(function (buffer) {
                                saveAs(new Blob([buffer], {type: 'application/octet-stream'}), `ACOMPTE_PRET${dateFormat}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                grouping: {
                    autoExpandAll: true
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...'
                },
                paging: {
                    pageSize: 10
                },
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    {
                        caption: 'Date d\'opération',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date',
                    },
                    {
                        caption: 'Matricule',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'matricule',
                    },
                    {
                        caption: 'Nom & prénom(s)',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'nom_prenom',
                    },
                    {
                        caption: 'Type d\'opération',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'type',
                    },
                    {
                        caption: 'Montant',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'amount',
                    },
                    {
                        caption: 'Montant remboursé',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'amount_refund',
                    },
                    {
                        caption: 'Restant',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'remaining',
                    },
                    {
                        caption: 'Statut',
                        alignment: 'center',
                        dataType: 'object',
                        dataField: 'status',
                        cellTemplate: function (container, options) {
                            const status = options.value;
                            let badgeClass = '';
                            if (status === 'VALIDEE') {
                                badgeClass = 'badge badge-soft-success';
                            } else if (status === 'EN ATTENTE') {
                                badgeClass = 'badge badge badge-soft-primary';
                            }
                            $("<span>")
                                .addClass(badgeClass)
                                .text(status)
                                .appendTo(container);
                        }
                    },
                ],
                toolbar: {
                    items: [
                        {
                            location: 'after',
                            widget: 'dxButton',
                            options: {
                                text: 'Valider',
                                icon: 'bi bi-journal-check',
                                disabled: false,
                                onClick() {
                                    $('#validationConfirmationModal').modal('show');
                                }
                            }
                        }
                    ]
                }
            }).dxDataGrid("instance");

            // Gérer le clic sur le bouton de confirmation dans le modal de validation
            $('#confirmValidationButton').click(function () {
                // Récupérer les éléments sélectionnés dans la grille de données
                const selectedKeys = dataGrid.getSelectedRowKeys();
                const acomptes = [];
                selectedKeys.forEach((acompte) => {
                    if (acompte.hasOwnProperty('id')) {
                        acomptes.push(acompte.id)
                    }
                })

                $('#acompteInput').val(`[${acomptes}]`)
                $('#formContainerAcompte').submit()
            });
        })
    </script>

{% endblock %}