{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-8">
                <div class="text-center">

                    <div>
                        <img src="{{ asset('images/not-found.png') }}" alt="" class="img-fluid" />
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h3 class="mt-3 text-dark">Page non trouvé</h3>
                <p class="mb-4 font-size-14"><span class="text-capitalize">Page indisponible. </span>Si le problème periste, contactez votre administrateur</p>

                <a href="{{ path('home') }}" class="btn btn-lg btn-primary">Contactez votre administrateur</a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
