{% extends 'base.html.twig' %}

{% block title %}Etat de régularisation périodique{% endblock %}
{% block stylesheets %}
    <style>
        #dataGridEtatRegulPeriodique {
            border-width: 50px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <form action="{{ url('api_reporting_paie_regularisation_periodique') }}" method="get" class="form-horizontal"
                  name="form_reporting_regularisation_periodique" id="form_reporting_regularisation_periodique">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title-custom" style="color: white">
                            <i data-feather="list"></i>
                            ETAT DE REGULARISATION PERIODIQUE
                        </h5>
                    </div>
                    <div class="card-body">
                        {{ include('dev_paie/reportings/regularisations/_form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-end">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title-custom" style="color: white">
                        <i data-feather="list"></i>
                        ETAT DE REGULARISATION PERIODIQUE
                    </h5>
                </div>
                <div class="card-body">
                    <div id="dataGridEtatRegulPeriodique">Cliquer sur recherche pour afficher le tableau</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        const $form = $(`form[name="form_reporting_regularisation_periodique"]`);
        $form.submit(function (e) {
            e.preventDefault();
            const form = $(e.currentTarget);
            const $data = form.serialize();
            const tab = $data.split('&');
            const tab2_deb = tab[0].split('=');
            const tab2_fin = tab[1].split('=');
            const debut = tab2_deb[1];
            const fin = tab2_fin[1];

            $('#head').html(`du ${moment(debut).format('DD/MM/Y')} au ${moment(fin).format('DD/MM/Y')} `);
            $('#dataGridEtatRegulPeriodique').dxDataGrid({
                dataSource: `{{ url('api_reporting_paie_regularisation_periodique') }}?${$data}`,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                height: 355,
                selection: {
                    mode: "multiple",
                    allowSelectAll: true,
                    showCheckBoxesMode: "always"
                },
                scrolling: {
                    mode: 'virtual',
                    columnRenderingMode: 'virtual'
                },
                groupPanel: {
                    visible: true
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                    formats: ['xlsx'],
                },
                grouping: {
                    autoExpandAll: true,
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: 'Rechercher...',
                },
                paging: {
                    pageSize: 10,
                },
                onExporting(e) {
                    if (e.format === 'xlsx') {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('ETAT DES REGULARISATIONS PERIODIQUE');
                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then((buffer) => {
                                saveAs(new Blob([buffer], {type: 'application /octet-stream'}), `ETAT DES REGULARISATIONS PERIODIQUE DU ${moment(debut).format('DD/MM/Y')} au ${moment(fin).format('DD/MM/Y')}.xlsx`);
                            });
                        });
                        e.cancel = true;
                    }
                },
                columns: [
                    {
                        caption: 'S/N',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'ordre'
                    },
                    {
                        caption: 'Date Opération',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'date_operations'
                    },
                    {
                        caption: 'Emolument',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'type_operations'
                    },
                    {
                        caption: 'Matricule',
                        alignment: 'center',
                        dataType: 'string',
                        dataField: 'matricule_salarie'
                    },
                    {
                        caption: 'Nom & Prénoms',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'full_name_salaried'
                    },
                    {
                        caption: 'Site',
                        alignment: 'left',
                        dataType: 'string',
                        dataField: 'station_salarie'
                    },
                    {
                        caption: 'Salaire net avant régul.',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'net_payer_avant_regularisation'
                    },
                    {
                        caption: 'Régularisations sur salaire',
                        alignment: 'center',
                        columns: [
                            {
                                caption: 'Moins perçus',
                                alignment: 'right',
                                dataType: 'number',
                                dataField: 'regul_moins_percus'
                            },
                            {
                                caption: 'Plus perçus',
                                alignment: 'right',
                                dataType: 'number',
                                dataField: 'regul_plus_percus'
                            },
                        ]

                    },
                    {
                        caption: 'Salaire net après régul.',
                        alignment: 'right',
                        dataType: 'number',
                        dataField: 'net_payer_apres_regularisation'
                    },
                    {
                        caption: 'Statut',
                        alignment: 'center',
                        dataType: 'object',
                        dataField: 'retenue_status',
                        cellTemplate: function (container, options) {
                            const status = options.value;
                            let badgeClass = 'badge badge-soft-success';
                            $("<span>")
                                .addClass(badgeClass)
                                .text(status)
                                .appendTo(container);
                        }
                    }
                ],
                summary: {
                    totalItems: [
                        {
                            column: 'ordre',
                            summaryType: 'count',
                            displayFormat: 'Salariés : {0}'
                        },
                        {
                            column: 'full_name_salaried',
                            customizeText() {
                                return 'CUMUL ';
                            }
                        },
                        {
                            column: 'net_payer_avant_regularisation',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'regul_moins_percus',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'regul_plus_percus',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },
                        {
                            column: 'net_payer_apres_regularisation',
                            summaryType: 'sum',
                            customizeText: function (data) {
                                return new Intl.NumberFormat('fr-FR').format(data.value);
                            },
                        },

                    ]
                },
            });
        });
    </script>
{% endblock %}

